In [1]:
"""
# Sao Paulo, Aug 14, 2020
# Script to check patcitonly2.csv

"""

'\n# Sao Paulo, Aug 14, 2020\n# Script to check patcitonly2.csv\n\n'

In [2]:
import sys
sys.path.append('/home/rkogeyam/scripts/')
from sampler import sampler

import pandas as pd
import numpy as np
import re
import datetime

import matplotlib.pyplot as plt

In [3]:
# uspatentcitation.tsv
# uuid:         unique id
# patent_id:    patent number
# citation_id:  identifying number of patent to which select patent cites
# date:         date select patent (patent_id) cites patent (citation_id)
# name:         name of cited record
# kind:         WIPO document kind codes 
#               (http://www.uspto.gov/learning-and-resources/support-centers/electronic-business-center/kind-codes-included-uspto-patent)	2002 and After
# country:      country cited patent was granted (always US)
# category:     who cited the patent (examiner, applicant, other etc) - 2002 and After
# sequence:     order in which this reference is cited by select patent	all

In [4]:
# src= r'/home/rkogeyam/PATENT_CITATION/data/patcitonly2.csv'
src= r'/home/rkogeyam/PATENT_CITATION/data/uspatclean_selfcit.csv'
# dst= '/home/rkogeyam/PATENT_CITATION/data/cleanuspatentcitation.csv'

In [5]:
 df=pd.read_csv(src, dtype=object)

In [6]:
df.dtypes

patent_id      object
citation_id    object
dtype: object

In [7]:
df[[0]] = df[[0]].astype(str) #type object may contain mixed types

In [8]:
df[df[0].apply(lambda x: len(x)>7)]

         patent_id citation_id         0
6983      H0013820     4354601  H0013820
19285     H0014443     5058110  H0014443
24310     H0011452     4274476  H0011452
26223     H0013633     4846828  H0013633
34113     H0014648     3646161  H0014648
43323     H0011711     4170001  H0011711
60536     H0004200     3728423  H0004200
61759     H0004138     2530383  H0004138
63793     H0002240     4512989  H0002240
63970     H0007218     4175153  H0007218
80464     H0000167     4404267  H0000167
85702     H0015571     5134886  H0015571
86683     H0005240     3849793  H0005240
91063     H0013943     3671269  H0013943
93904     H0019399     4241258  H0019399
98946     H0013498     1310270  H0013498
104476    H0011983     4434230  H0011983
111593    H0002992     3782667  H0002992
118690    H0019550     4472328  H0019550
124478    H0017329     5037412  H0017329
128842    H0006050     3967276  H0006050
142416    H0018821     5623532  H0018821
150219    H0006360     3455331  H0006360
163025    H0011762     3812336  H0011762
172180    H0009733     3485865  H0009733
176290    H0007340     4711893  H0007340
199236    H0016403     3863304  H0016403
205447    H0017230     3873439  H0017230
209094    H0000779     3947089  H0000779
210400    H0002445     1487024  H0002445
...            ...         ...       ...
13952330  H0016136     5189142  H0016136
13955222  H0017710     3441783  H0017710
13971528  H0014907     4541079  H0014907
13984310  H0013951     4009291  H0013951
13997038  H0005398     4152942  H0005398
13998940  H0015920     4142913  H0015920
13998973  H0005959     3972585  H0005959
13999001  H0008710     4514291  H0008710
14006150  H0008354     2581899  H0008354
14021609  H0014052     4145298  H0014052
14036816  H0017760     4318818  H0017760
14037801  H0014524     3986277  H0014524
14042436  H0012130     4207363  H0012130
14051083  H0013730     4687542  H0013730
14068823  H0017523     5493547  H0017523
14080884  H0002046     4472240  H0002046
14089258  H0005118     4075691  H0005118
14094222  H0018554     D277791  H0018554
14098185  H0011622     4495017  H0011622
14116154  H0017884     5057096  H0017884
14134832  H0000434     3418610  H0000434
14137423  H0012009     3961197  H0012009
14138462  H0000124     4284895  H0000124
14138463  H0000124     4284895  H0000124
14140340  H0004812     3571479  H0004812
14147002  H0011150     4638667  H0011150
14152585  H0017485     1764569  H0017485
14167501  H0009008     3175405  H0009008
14177744  H0005835     4734358  H0005835
14184131  H0015580     3530023  H0015580

[1865 rows x 3 columns]

In [9]:
df[df[0].apply(lambda x: len(x)<7)]

         patent_id citation_id    0
1              NaN         NaN  nan
61             NaN         NaN  nan
62             NaN         NaN  nan
84             NaN         NaN  nan
85             NaN         NaN  nan
111            NaN         NaN  nan
171            NaN         NaN  nan
192            NaN         NaN  nan
222            NaN         NaN  nan
287            NaN         NaN  nan
401            NaN         NaN  nan
506            NaN         NaN  nan
539            NaN         NaN  nan
623            NaN         NaN  nan
638            NaN         NaN  nan
655            NaN         NaN  nan
686            NaN         NaN  nan
751            NaN         NaN  nan
777            NaN         NaN  nan
778            NaN         NaN  nan
802            NaN         NaN  nan
816            NaN         NaN  nan
818            NaN         NaN  nan
859            NaN         NaN  nan
956            NaN         NaN  nan
987            NaN         NaN  nan
996            NaN         NaN  nan
1152           NaN         NaN  nan
1157           NaN         NaN  nan
1200           NaN         NaN  nan
...            ...         ...  ...
87866266       NaN         NaN  nan
87866267       NaN         NaN  nan
87866268       NaN         NaN  nan
87866269       NaN         NaN  nan
87866270       NaN         NaN  nan
87866271       NaN         NaN  nan
87866272       NaN         NaN  nan
87866273       NaN         NaN  nan
87866274       NaN         NaN  nan
87866275       NaN         NaN  nan
87866276       NaN         NaN  nan
87866277       NaN         NaN  nan
87866278       NaN         NaN  nan
87866279       NaN         NaN  nan
87866280       NaN         NaN  nan
87866281       NaN         NaN  nan
87866282       NaN         NaN  nan
87866283       NaN         NaN  nan
87866284       NaN         NaN  nan
87866285       NaN         NaN  nan
87866286       NaN         NaN  nan
87866287       NaN         NaN  nan
87866288       NaN         NaN  nan
87866289       NaN         NaN  nan
87866290       NaN         NaN  nan
87866291       NaN         NaN  nan
87866292       NaN         NaN  nan
87866293       NaN         NaN  nan
87866294       NaN         NaN  nan
87866295       NaN         NaN  nan

[74096381 rows x 3 columns]

In [10]:
df[0].str.len().value_counts()

3    74096098
7    13768050
8        1865
6         283
Name: 0, dtype: int64

In [11]:
# pat='data/uspatclean_selfcit.csv'
# df=pd.read_csv(pat)
# df.dtypes

In [12]:
df.groupby([0])[0].count().nlargest(n=15)

0
nan        74096098
8892495         978
9535563         939
8369967         531
7970722         452
8758323         449
9655624         437
9724094         436
9700310         434
9690362         432
9584960         423
9649110         422
8160988         420
9724091         415
8005777         412
Name: 0, dtype: int64

In [13]:
# df.groupby([1])[0].count().nlargest(n=15)

In [14]:
# pat='data/only_uuid_pat_cit.csv'
# df=pd.read_csv(pat)
# df.dtypes
# df.uuid.str.len().value_counts()

In [15]:
# self_cit='data/self_cit.csv'
# df=pd.read_csv(self_cit)
# df.dtypes
# df.uuid.str.len().value_counts()

In [16]:
# df['pagerank'].nlargest(15)