In [1]:
#This script opens the citation dataset and perform calculations in patent level
#Renato Kogeyama


#Miami, December 29th, 2019
# The script runs in about 20 min with the full dataset - excellent!
# The main change was in the philosophy of the code - ditching for loops
# This version includes application data calculate time variables 
# The idea is to evaluate changes in patent policy and evaluate time to citation

#Miami, December 27th, 2019
# Due bad performance, I am updating the script to more efficient coding

# This script generates a citation ouput with patent|backward citation|cumulated backward citation | year
# The output generates a citation record by year, considering direct and indirect citation

In [2]:
import pandas as pd
import re

import sys
sys.path.append('/home/rkogeyam/scripts/')
from sampler import sampler

In [3]:
%matplotlib inline

In [4]:
fname = r'/home/rkogeyam/PATENT_CITATION/data/uspatentcitation.tsv'
dst = '/home/rkogeyam/PATENT_CITATION/data/cit_tree.csv'

In [5]:
%%time
df=pd.read_csv(fname)

# sample_size=100
# df=sampler(fname, sample_size, sep='\t')

CPU times: user 3min 44s, sys: 15.6 s, total: 4min
Wall time: 4min

In [6]:
df.head()

,uuid,patent_id,citation_id,date,name,kind,country,category,sequence
0,000007b7c0x3n9iy1othb9hz7,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622
1,000007obbnxmqc6v43t1c00dw,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413
2,00000jd7thmiucpaol1hm1835,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
3,00000oohcwply47niwhm5i42l,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11
4,00002ghv7v87txbmryocp9i60,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1

In [7]:
df['patent_id']=df['patent_id'].astype(str)
df['citation_id']=df['citation_id'].astype(str)

In [8]:
df.dtypes

uuid           object
patent_id      object
citation_id    object
date           object
name           object
kind           object
country        object
category       object
sequence        int64
dtype: object

In [9]:
df.shape

(91453297, 9)

In [10]:
# some data cleaning

# here I should keep the information for further analysis

# drop rows in which column citation_id has a length smaller than 5
indexNames = df[df['citation_id'].map(len) < 5].index
df.drop(indexNames , inplace=True)

# drop rows for which column patent_id has a length smaller than 5
indexNames = df[df['patent_id'].map(len) < 5].index
df.drop(indexNames , inplace=True)

In [11]:
df.shape

(91445558, 9)

In [12]:
%%time
# # Keep this for reference!
# # As of Dec 31st, 2019, I compared the clean to the raw version of citation and patent ids

# #stripping non-desired characters but keeping the originals for later check - only three changes in citation_id

df['citation_id_raw']=df['citation_id']
df['patent_id_raw']=df['patent_id']

cleaning_patent=lambda x:re.sub('([^a-zA-Z0-9]+)', "", x)
df['citation_id']=df['citation_id'].apply(cleaning_patent)
df['patent_id']=df['patent_id'].apply(cleaning_patent)

# #stripping trailing white spaces - no changes
# df['patent_id'] = df['patent_id'].str.strip()
# df['citation_id'] = df['citation_id'].str.strip()

# #this is taking a lot of time, evaluate alternatives

print(df[df['citation_id'].map(len) > 8])

                               uuid patent_id  citation_id        date  \
1115      000l397rmcu1p9fxvegt75gd8   6834474  20020090489  2002-07-01
1124      000l6y5a355o1xp8kw12zat2q   6854492  20010025668  2001-10-01
3978      0021zkyqbzv8dp89k0e9i5pvn   D474084  20010013500  2001-08-01
4915      002jwbj8ch96kavoxjhkw8czo   6738820  20020031120  2002-03-01
4990      002ld67k6ty2it7oo6legcqh5   6862552  20020034191  2002-03-01
5011      002lpkh2rawkxxp7gm2q3ye8u   6679612  20030002180  2003-01-01
5183      002omicihgubu2nt4x2kpzakb   6614073  20020053696  2002-05-01
6217      0037xjdpdapjlidqzlgh9gqop   6622391  20020153479  2002-10-01
7691      003zfsqsbkkitu3ccrb94glu8   6809520  20020030492  2002-03-01
10455     005dy0m3n9516z5eepmi2crm3   6822677  20010009438  2001-07-01
10735     005izkfzlac5jfgtfbqid3ybb   6739551  20030127562  2003-07-01
11196     005shkiewmjkql7i9jf1litjy   6868406  20010055388  2001-12-01
11610     006150t0ybq0jq8glp95epfa8   6821285  20020063143  2002-05-01
12095     006a6re9yexqgjqn6cnpucf69   6759098  20020182891  2002-12-01
12349     006eytaz0y2lwdy7qy1qmi7jx   6841954  20020141102  2002-10-01
12546     006ivb4thgd6ifrcy7s5uiazh   6861977  20030052814  2003-03-01
12911     006pp4tvfaotg3mum8peqo3si   6752082  20020118380  2002-08-01
13453     00700791v68tprdlch1zc71z7   6787824  20020079491  2002-06-01
13597     0072lbbeje539j8sc3kkz4c3c   6875124  20030078112  2003-04-01
13716     0075567v76jed3vdavook8f3l   6704433  20030091225  2003-05-01
14006     007agssbo7sb0xl1uvyz2p85o   6733521  20030009211  2003-01-01
14351     007gz8ve1kmtyj8d8yadfuaw1   6824187  20030010560  2003-01-01
14539     007kkw78e9uwdx8255j5yp5vq   6713336  20020033517  2002-03-01
14608     007lt2vl4uut2dxa2fbdcjvz6   6660126  20030075273  2003-04-01
17126     008wc4r8b8sit2can8exdkxcg   6641525  20020151909  2002-10-01
17134     008wkutnq8pm1l96dj2iajmtm   6837425  20010011247  2001-08-01
17589     00958aye32klqo7gka3s0fdkv   6786305  20030024772  2003-02-01
18730     009q8r9nzalwyeusq8935y4rt   6869594  20020141958  2002-10-01
20146     00agq78n80bt0xw3bowpuk6p7   6831391  20020044718  2002-04-01
20192     00ahluby4q640szrq0d0io2hn   6785834  20030139975  2003-07-01
...                             ...       ...          ...         ...
88687140  zzp8pjpp0zb0m2q6fb9mqpr76   6879292  20040021606  2004-02-01
88687423  zzpe5wspkufc35gouk60r6r1h   6846958  20040006224  2004-01-01
88687763  zzpl8ufrjc4pbzggxpji3ndjs   6874971  20030063949  2003-04-01
88688783  zzq3mbja3bxztrm63grzb19cl   6740640  20020173471  2002-11-01
88691748  zzrocw34jlob2oru3f64rglxk   6713545  20010049424  2001-12-01
88692491  zzs2mgu3t3ps4kvr7kbpcb335   6670361  20020028777  2002-03-01
88692793  zzs8fqgj5u3bn9pbz67sdsk7g   6846374  20020003021  2002-01-01
88694163  zzsy79ymc319gg777g9l7bhgh   6835203  20010029396  2001-10-01
88694602  zzt67n26dadgurpl20iyt3xj8   6758835  20010001125  2001-05-01
88695214  zzthq7tkh0buq4swrk8mq8374   6850677  20030031440  2003-02-01
88696472  zzu3v1h4tlsl92n0lzqspwscr   6826164  20040018018  2004-01-01
88697192  zzui5tfird6bjh2uhljop3oca   6750324  20030068325  2003-04-01
88698442  zzv3y7r1r5xd3a7g54ip7usqc   6791885  20030047772  2003-03-01
88699077  zzvgrdalbtws0gcbu4o3sm1gs   6652508  20010037085  2001-11-01
88699185  zzvil2vs2my9h0favk2kmb7u3   6791694  20010021053  2001-09-01
88699677  zzvse5pii5o2l39jpzr2dvt5j   6527324  20020074816  2002-06-01
88700021  zzvyht4ijpu3zsqyqonip7bwr   6863089  20040046065  2004-03-01
88700129  zzw0nf79acavftsl4vka848xe   6231590    B14739768  1994-11-01
88702486  zzx724sbhbopsg21mlrdzxr8j   6687603  20020112902  2002-08-01
88703416  zzxodop421yted29vfgxjlx10   6837966  20040060657  2004-04-01
88704615  zzyb8at2jxwvcrz40r7uswj79   6853587  20010011755  2001-08-01
88705416  zzyrpe50f5gybsudhk37u3m2p   6700647  20020186358  2002-12-01
88705422  zzyrs6de6ucr2gbf62ka46o9l   6873868  20030100824  2003-05-01
88705717  zzyx7hghxdzeun6lfk0kjgogs   6699396  20020137337  2002-09-01
88705897  zzz07za8x1yp48dmh5iwwv2ek   6819324  20020180747  2002-12-01
88706430  zzz9prjit6jlvaj990qfk9vbw   6830824  20020192506  2002-12-01
88706529  zzzbl0uiikr3e3mbxlo9dcip4   6704475  20020105725  2002-08-01
88706795  zzzglqbmuf48yxwuhbscic674   6889726  20020053286  2002-05-01
88707000  zzzkyu9hv3yialozqu5hy9exg   6848698  20030111308  2003-06-01
91242010  valyo2sa21l4mawksvcz9qfsv   9814251    T86300914  1969-06-01

                           name kind country            category  sequence  \
1115            Dobreski et al.   A1      US      cited by other       192
1124                       Enge   A1      US      cited by other         5
3978              Gilley et al.   A1      US   cited by examiner        26
4915                      Rakib   A1      US   cited by examiner         5
4990                    Shattil   A1      US   cited by examiner         0
5011             Nielsen et al.   A1      US   cited by examiner        11
5183             Iwamuro et al.   A1      US   cited by examiner        18
6217               Kenjo et al.   A1      US   cited by examiner        29
7691                 Guo et al.   A1      US      cited by other        13
10455            Kihara et al .   A1      US   cited by examiner         9
10735            Pereira et al.   A1      US   cited by examiner        11
11196              Kaliski, Jr.   A1      US      cited by other        88
11610              Adams et al.   A1      US      cited by other       119
12095                  Matsuura   A1      US   cited by examiner        38
12349                  Kusumoto   A1      US   cited by examiner         7
12546           Corbrion et al.   A1      US   cited by examiner         2
12911            Krueger et al.   A1      US   cited by examiner        21
13453                    Raynor   A1      US   cited by examiner         2
13597                  Sugimoto   A1      US   cited by examiner        21
13716                      Chen   A1      US   cited by examiner         8
14006                   DiCarlo   A1      US      cited by other       206
14351                  Motozawa   A1      US      cited by other        25
14539                     Lojek   A1      US   cited by examiner        19
14608            Kilpela et al.   A1      US      cited by other       195
17126            Gellman et al.   A1      US      cited by other        99
17134         O'Flaherty et al.   A1      US      cited by other       105
17589                    Naitoh   A1      US   cited by examiner         5
18730               Maio et al.   A1      US      cited by other       177
20146              Nishi et al.   A1      US      cited by other        38
20192                 Perkowski   A1      US      cited by other        12
...                         ...  ...     ...                 ...       ...
88687140              Shigihara   A1      US   cited by examiner         5
88687423       Chorghade et al.   A1      US      cited by other        20
88687763             Hohenocker   A1      US   cited by examiner        13
88688783        Yamazaki et al.   A1      US   cited by examiner         9
88691748        Petiniot et al.   A1      US   cited by examiner        22
88692491        Yamazaki et al.   A1      US      cited by other         9
88692793          Maxton et al.   A1      US      cited by other       124
88694163          Wilson et al.   A1      US      cited by other       288
88694602        Schulman et al.   A1      US      cited by other        29
88695214          Dennis et al.   A1      US   cited by examiner        21
88696472              Izadpanah   A1      US      cited by other        53
88697192                   Wang   A1      US      cited by other        77
88698442                     Li   A1      US      cited by other       196
88699077           Keith et al.   A1      US      cited by other        88
88699185       Colbourne et al.   A1      US      cited by other        54
88699677         McManus et al.   A1      US   cited by examiner        34
88700021                  Jeong   A1      US   cited by examiner        14
88700129               Engelson  NaN      US                 NaN        71
88702486       Wakashiro et al.   A1      US   cited by examiner         3
88703416         Saigusa et al.   A1      US   cited by examiner        25
88704615                 Tasaka   A1      US      cited by other        90
88705416          Toprac et al.   A1      US   cited by examiner         2
88705422          Warren et al.   A1      US   cited by examiner        30
88705717              Lu et al.   A1      US   cited by examiner         0
88705897         Lavelle et al.   A1      US      cited by other         9
88706430          Coffey et al.   A1      US   cited by examiner         9
88706529          Sweatt et al.   A1      US      cited by other        11
88706795                Czabala   A1      US      cited by other         5
88707000  VanValkenburgh et al.   A1      US   cited by examiner         8
91242010          Colley et al.  NaN      US  cited by applicant         7

         citation_id_raw patent_id_raw
1115        2002/0090489       6834474
1124         20010025668       6854492
3978        2001/0013500       D474084
4915        2002/0031120       6738820
4990         20020034191       6862552
5011        2003/0002180       6679612
5183        2002/0053696       6614073
6217        2002/0153479       6622391
7691        2002/0030492       6809520
10455       2001/0009438       6822677
10735       2003/0127562       6739551
11196        20010055388       6868406
11610       2002/0063143       6821285
12095       2002/0182891       6759098
12349        20020141102       6841954
12546        20030052814       6861977
12911       2002/0118380       6752082
13453       2002/0079491       6787824
13597        20030078112       6875124
13716       2003/0091225       6704433
14006       2003/0009211       6733521
14351       2003/0010560       6824187
14539       2002/0033517       6713336
14608       2003/0075273       6660126
17126       2002/0151909       6641525
17134        20010011247       6837425
17589       2003/0024772       6786305
18730        20020141958       6869594
20146       2002/0044718       6831391
20192       2003/0139975       6785834
...                  ...           ...
88687140     20040021606       6879292
88687423     20040006224       6846958
88687763     20030063949       6874971
88688783    2002/0173471       6740640
88691748    2001/0049424       6713545
88692491    2002/0028777       6670361
88692793     20020003021       6846374
88694163    2001/0029396       6835203
88694602    2001/0001125       6758835
88695214     20030031440       6850677
88696472    2004/0018018       6826164
88697192    2003/0068325       6750324
88698442    2003/0047772       6791885
88699077    2001/0037085       6652508
88699185    2001/0021053       6791694
88699677    2002/0074816       6527324
88700021     20040046065       6863089
88700129      B1 4739768       6231590
88702486    2002/0112902       6687603
88703416     20040060657       6837966
88704615     20010011755       6853587
88705416    2002/0186358       6700647
88705422     20030100824       6873868
88705717    2002/0137337       6699396
88705897    2002/0180747       6819324
88706430    2002/0192506       6830824
88706529    2002/0105725       6704475
88706795     20020053286       6889726
88707000     20030111308       6848698
91242010       T86300914       9814251

[124897 rows x 11 columns]
CPU times: user 8min 26s, sys: 5.42 s, total: 8min 31s
Wall time: 8min 32s

In [13]:
print(df[df['patent_id'].map(len) > 8])

Empty DataFrame
Columns: [uuid, patent_id, citation_id, date, name, kind, country, category, sequence, citation_id_raw, patent_id_raw]
Index: []

In [14]:
print(df[df['patent_id']!=df['patent_id']])

Empty DataFrame
Columns: [uuid, patent_id, citation_id, date, name, kind, country, category, sequence, citation_id_raw, patent_id_raw]
Index: []

In [15]:
%%time
#Non-conforming dates
#this corrects days or months registered as 00
df.date.replace({'-00':'-01'}, regex=True, inplace=True)

#replacing day or month would not affect the output
#replacing the year could be more problematic

#Ditch month and day altogether, since it is not a reliable source of information

CPU times: user 1min 12s, sys: 80 ms, total: 1min 12s
Wall time: 1min 12s

In [16]:
%%time
#attention to date format - original data is year-month-day
df['date']=pd.to_datetime(df.date,format='%Y-%m-%d', errors='coerce')

CPU times: user 35.5 s, sys: 1.65 s, total: 37.1 s
Wall time: 37 s

In [17]:
%%time
#cited patents registers total citations received 

cited_patents=df.groupby(['citation_id']).count().iloc[:, 1].reset_index() #Series, patent-level
# cited_patents.dropna(0, inplace=True) #Series, '0' implies that rows are dropped

#I should check this, because later I make citation back as index for merging purposes
# cited_patents=cited_patents.reset_index() #Dataframe

CPU times: user 1min 54s, sys: 3.81 s, total: 1min 57s
Wall time: 1min 57s

In [18]:
cited_patents.rename(columns={'patent_id': 'back_citation'}, inplace=True)

In [19]:
df.head()

,uuid,patent_id,citation_id,date,name,kind,country,category,sequence,citation_id_raw,patent_id_raw
0,000007b7c0x3n9iy1othb9hz7,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622,8127342,9009250
1,000007obbnxmqc6v43t1c00dw,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413,5471515,9643605
2,00000jd7thmiucpaol1hm1835,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11,4875247,5354551
3,00000oohcwply47niwhm5i42l,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11,D718330,D786922
4,00002ghv7v87txbmryocp9i60,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1,D190749,D490798

In [20]:
#forward citation
forward_citation=df.groupby(['patent_id']).count().iloc[:, 1].reset_index()
forward_citation.rename(columns={'citation_id': 'forw_citation'}, inplace=True)

In [21]:
forward_citation.head()

  patent_id  forw_citation
0   3930271              2
1   3930272             11
2   3930273              8
3   3930274              3
4   3930275              2

In [22]:
%%time
#this is the trick code
#I match the total of citations received by the citing patent (identified by patent_id)
#Then I sum all citations received by the citing patents

df=df.merge(cited_patents, how='inner', left_on='patent_id', right_on='citation_id')
df.rename(columns={'back_citation': 'parent_back_citation'}, inplace=True)

CPU times: user 5min 13s, sys: 9.32 s, total: 5min 22s
Wall time: 5min 22s

In [23]:
%%time
#merging generates new NaNs
#NaN in citations means no citation
df.fillna(0, inplace=True)

CPU times: user 2min 40s, sys: 3.16 s, total: 2min 43s
Wall time: 2min 43s

In [24]:
%%time
#now I collapse df to become a patent level dataframe
#citation_id_x is the original cited patent
patent_level_df=df.groupby('citation_id_x').sum()

CPU times: user 1min 45s, sys: 2.65 s, total: 1min 48s
Wall time: 1min 48s

In [25]:
# now i merge the number of citations to patent_level_df
# patent_level has the information about the citing patent

outcome=cited_patents.merge(patent_level_df, how='outer', left_on='citation_id', right_index=True)

In [26]:
outcome.head()

  citation_id  back_citation  sequence  parent_back_citation
0     0000000              1       0.0                  10.0
1      000004              1       0.0                   1.0
2      000006              1       0.0                  11.0
3     0000482              1       0.0                  30.0
4     0000H94              1       0.0                  14.0

In [27]:
outcome=outcome.merge(forward_citation, how='outer', left_on='citation_id', right_on='patent_id')

In [28]:
outcome.head()

,citation_id,back_citation,sequence,parent_back_citation,patent_id,forw_citation
0,0000000,1.0,0.0,10.0,NaN,NaN
1,000004,1.0,0.0,1.0,NaN,NaN
2,000006,1.0,0.0,11.0,NaN,NaN
3,0000482,1.0,0.0,30.0,NaN,NaN
4,0000H94,1.0,0.0,14.0,NaN,NaN

In [29]:
outcome.fillna(0, inplace=True)

In [30]:
outcome.head()

,citation_id,back_citation,sequence,parent_back_citation,patent_id,forw_citation
0,0000000,1.0,0.0,10.0,0,0.0
1,000004,1.0,0.0,1.0,0,0.0
2,000006,1.0,0.0,11.0,0,0.0
3,0000482,1.0,0.0,30.0,0,0.0
4,0000H94,1.0,0.0,14.0,0,0.0

In [31]:
outcome.drop(['sequence', 'patent_id'], axis=1, inplace=True)

In [ ]:
outcome.set_index('citation_id')

In [32]:
outcome.describe()

       back_citation  parent_back_citation  forw_citation
count   8.525072e+06          8.525072e+06   8.525072e+06
mean    1.072666e+01          1.814898e+02   1.072666e+01
std     2.819247e+01          1.365067e+03   3.634551e+01
min     0.000000e+00          0.000000e+00   0.000000e+00
25%     1.000000e+00          0.000000e+00   0.000000e+00
50%     3.000000e+00          1.400000e+01   4.000000e+00
75%     1.000000e+01          7.900000e+01   1.000000e+01
max     3.922000e+03          2.274790e+05   5.811000e+03

In [33]:
%%time
outcome.to_csv(dst)

CPU times: user 1min 9s, sys: 388 ms, total: 1min 10s
Wall time: 1min 10s

In [34]:
# I should introduce a test to see if the script is calculating correctly
# I should search for the information of one specfic patent and compare with the output generated by the script