In [2]:
import dask.dataframe as dd
import pandas as pd
df = dd.read_parquet('data/cleanuspatentcitation.parquet.gz').reset_index()

In [ ]:
# df.info()

In [2]:
df.loc[df['citation_id']=='10437'].compute()

Empty DataFrame
Columns: [citation_id, patent_id, date]
Index: []

In [3]:
df.loc[df['patent_id']=='10437'].compute()

Empty DataFrame
Columns: [citation_id, patent_id, date]
Index: []

In [7]:
df.query('patent_id == 232481').compute()

Empty DataFrame
Columns: [citation_id, patent_id, date]
Index: []

In [8]:
df.query('citation_id == 232481').compute()

Empty DataFrame
Columns: [citation_id, patent_id, date]
Index: []

In [13]:
df[df.patent_id == '205110'].compute()

Empty DataFrame
Columns: [citation_id, patent_id, date]
Index: []

In [4]:
df[df.patent_id == '232481'].compute()

Empty DataFrame
Columns: [citation_id, patent_id, date]
Index: []

In [17]:
df.head()

  citation_id patent_id  date
0     5250047   8128624  1993
1     4139314   6631957  1979
2     5942209   7553377  1999
3     5399452   5994014  1995
4     5928615   7683210  1999

In [ ]:
df=df.to_csv('data/patclean_7.csv')