In [1]:
# Jan 29, 2020
# many errors appeared after joining the dataset 
# i rewritten code into simpler scripts
# this script joins variables together to be processed later

# they are:
#     - cit_delay - reads clean_patent and clean_uspatentcitation and calculates delay by patent
#     - cit_made - reads clean_uspatentcitation and calculates citations made 
#     - cit_received - reads clean_uspatentcitation and calculates citations received
#     - cit_tree - reads clean_uspatentcitation and cit_made and calculates parent_citation
#     - generalit - reads wipo and clean_uspatentcitation and calculates generality
#     - originality - reads wipo and clean_uspatentcitation and calculates originality
#     - wipo_horiz - reads wipo and generates wipo_first_class

# now I'm merging these files 

# Jan, 20th 2020
# join delay and tree data to form the analysis dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
received='data/cit_received.csv'
made='data/cit_made.csv'
received_delay='data/cit_received_delay.csv'
made_delay='data/cit_made_delay.csv'
cit_tree = 'data/cit_tree.csv'
originality = 'data/originality.csv'
generality = 'data/generality.csv'
dst='data/dataset.csv'

In [4]:
usecols=['citation_id', 'cit_received']
df = pd.read_csv(received, usecols=usecols, index_col='citation_id')
df.info()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 5.72 Âµs
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079698 entries, 0 to 4079697
Data columns (total 5 columns):
Unnamed: 0              int64
citation_id             object
back_citation           int64
parent_back_citation    int64
forw_citation           int64
dtypes: int64(4), object(1)
memory usage: 155.6+ MB

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
usecols=['patent_id', 'cit_made']
df_made=pd.read_csv(made, usecols=usecols, index_col='patent_id' )
df_made.info()

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

citation_id         object
mean_forw_delay    float64
forw_citation      float64
mean_back_delay    float64
back_citation      float64
dtype: object

In [ ]:
usecols=['citation_id', 'cit_made']
df_received_delay=pd.read_csv(received_delay, usecols=usecols, index_col='cit_made' )
df_received_delay.info()

In [ ]:
%time
dfs = [df, df_made, df_received_delay]
dfs = [df.set_index('name') for df in dfs]
dfs[0].join(dfs[1:])

In [ ]:
dfs.info()

In [9]:
#delay
#this merge is outer because not all patents with delay (meaning they have > 1 cit) have tree
#also not patents with tree have delay 
#(they might have received only one cit, and this citation may have received multiple cit)

tree_df=tree_df.merge(df, how='outer', right_on='citation_id', left_on='citation_id')

In [10]:
tree_df.sample(n=10)

,citation_id,back_citation_x,parent_back_citation,forw_citation_x,mean_forw_delay,forw_citation_y,mean_back_delay,back_citation_y
9682279,9707099,NaN,NaN,NaN,0.0,33.0,0.0,0.0
3997026,D649099,5.0,10.0,17.0,0.0,17.0,0.0,5.0
313244,4271924,17.0,170.0,8.0,NaN,NaN,NaN,NaN
1411254,5456940,169.0,1782.0,5.0,0.0,5.0,0.0,163.0
7639391,661746,NaN,NaN,NaN,0.0,0.0,0.0,1.0
5812668,3761057,NaN,NaN,NaN,0.0,0.0,0.0,9.0
6483944,4428997,NaN,NaN,NaN,0.0,7.0,0.0,36.0
7951797,7561888,NaN,NaN,NaN,0.0,4.0,0.0,1.0
2116289,6241094,3.0,5.0,9.0,0.0,9.0,0.0,3.0
701481,4690291,2.0,2.0,12.0,NaN,NaN,NaN,NaN

In [11]:
df=pd.read_csv(originality, usecols=['patent_id', 'total_citation','output'])

In [12]:
df['patent_id']=df['patent_id'].astype(str)
# df.set_index('patent_id', inplace=True)
df.dtypes

patent_id          object
total_citation      int64
output            float64
dtype: object

In [13]:
#originality
tree_df=tree_df.merge(df, how='inner', right_on='patent_id', left_on='citation_id')

In [14]:
tree_df.sample(n=10)

,citation_id,back_citation_x,parent_back_citation,forw_citation_x,mean_forw_delay,forw_citation_y,mean_back_delay,back_citation_y,patent_id,total_citation,output
476248,4327971,NaN,NaN,NaN,0.0,5.0,0.0,14.0,4327971,196,0.0
774935,4639981,NaN,NaN,NaN,0.0,8.0,0.0,4.0,4639981,16,0.0
298251,4140246,NaN,NaN,NaN,0.0,5.0,0.0,3.0,4140246,9,0.0
615745,4474157,NaN,NaN,NaN,0.0,5.0,0.0,3.0,4474157,9,0.0
772035,4636977,NaN,NaN,NaN,0.0,4.0,0.0,12.0,4636977,144,0.0
1263758,5147501,NaN,NaN,NaN,0.0,4.0,0.0,2.0,5147501,4,0.0
493092,4345668,NaN,NaN,NaN,0.0,10.0,0.0,34.0,4345668,1156,0.0
1036215,4910773,NaN,NaN,NaN,0.0,12.0,0.0,21.0,4910773,441,0.0
235242,4073576,NaN,NaN,NaN,0.0,0.0,0.0,4.0,4073576,16,0.0
1241400,5124237,NaN,NaN,NaN,0.0,6.0,0.0,1.0,5124237,4,0.0

In [15]:
df=pd.read_csv(generality, usecols=['citation_id', 'output'])

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df['citation_id']=df['citation_id'].astype(str)
# df.set_index('citation_id', inplace=True)
df.dtypes

citation_id     object
output         float64
dtype: object

In [17]:
#generality
tree_df=tree_df.merge(df, how='outer', right_on='citation_id', left_on='citation_id')

In [18]:
tree_df.shape

(6562527, 12)

In [19]:
tree_df.sample(n=10)

,citation_id,back_citation_x,parent_back_citation,forw_citation_x,mean_forw_delay,forw_citation_y,mean_back_delay,back_citation_y,patent_id,total_citation,output_x,output_y
4308183,6139557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3122500,3449993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.571429
1776156,1246090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4706308,6554564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.141250
2489704,2615936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
5029319,6902111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.678135
1640359,8297693,NaN,NaN,NaN,0.0,53.0,0.0,7.0,8297693,49.0,0.0,0.244898
5108664,6989303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2866422,3140734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000
2037084,1926329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000

In [20]:
tree_df.describe()

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/numpy/lib/function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,back_citation_x,parent_back_citation,forw_citation_x,mean_forw_delay,forw_citation_y,mean_back_delay,back_citation_y,total_citation,output_x,output_y
count,99784.000000,99784.000000,99784.000000,1.602130e+06,1.602130e+06,1.602130e+06,1.602130e+06,1.701900e+06,1701900.0,6.555151e+06
mean,7.615770,33.107743,47.139030,-4.500288e-08,8.658379e+00,-1.517102e-08,1.699041e+01,1.439369e+03,0.0,2.533886e-01
std,15.271495,372.166061,127.506989,5.391977e-06,2.111453e+01,2.626641e-06,3.320028e+01,2.481384e+04,0.0,2.652133e-01
min,1.000000,1.000000,1.000000,-2.739726e-03,0.000000e+00,-1.369863e-03,0.000000e+00,1.000000e+00,0.0,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,326.000000,16967.000000,2502.000000,0.000000e+00,3.018000e+03,0.000000e+00,3.725000e+03,1.538208e+07,0.0,9.235959e-01

In [21]:
tree_df.to_csv(dst)