In [1]:
# Jan, 20th 2020
# join delay and tree data to form the analysis dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
# delay='data/cit_delay.csv'
delay='data/var_builder2.csv'
cit_tree = 'data/cit_tree.csv'
dst='data/dataset.csv'

In [4]:
%time
names=['citation_id', 'back_citation', 'parent_back_citation', 'forw_citation']
# dtypes =  {'citation_id':str, 'back_citation':int, 'parent_back_citation':int, 'forw_citation':int}
df = pd.read_csv(cit_tree, usecols=names, dtype=object)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 6.2 Âµs

In [5]:
# to avoid weird results
# df.drop(df['citation_id'].apply(lambda x: len(x)<4).index)

Empty DataFrame
Columns: [citation_id, back_citation, parent_back_citation, forw_citation]
Index: []

In [6]:
df['citation_id']=df['citation_id'].astype(str)
df.set_index('citation_id', inplace=True)

In [7]:
# df.astype(float) 
df.dtypes

back_citation           object
parent_back_citation    object
forw_citation           object
dtype: object

In [8]:
df=df.join(pd.read_csv(delay, usecols=[0, 1, 3], dtype={0:object}, index_col=0), how='outer')

In [9]:
df.reset_index()

,index,back_citation,parent_back_citation,forw_citation,mean_forw_delay,mean_back_delay
0,0,0.0,0.0,6.0,NaN,NaN
1,0,0.0,0.0,6.0,NaN,NaN
2,0,0.0,0.0,4.0,NaN,NaN
3,0,0.0,0.0,5.0,NaN,NaN
4,0,0.0,0.0,3.0,NaN,NaN
5,0,0.0,0.0,8.0,NaN,NaN
6,0,0.0,0.0,11.0,NaN,NaN
7,0,0.0,0.0,1.0,NaN,NaN
8,0,0.0,0.0,14.0,NaN,NaN
9,0,0.0,0.0,4.0,NaN,NaN
10,0,0.0,0.0,4.0,NaN,NaN
11,0,0.0,0.0,2.0,NaN,NaN
12,0,0.0,0.0,7.0,NaN,NaN
13,0,0.0,0.0,6.0,NaN,NaN
14,0,0.0,0.0,6.0,NaN,NaN
15,0,0.0,0.0,2.0,NaN,NaN
16,0,0.0,0.0,4.0,NaN,NaN
17,0,0.0,0.0,4.0,NaN,NaN
18,0,0.0,0.0,3.0,NaN,NaN
19,0,0.0,0.0,2.0,NaN,NaN
20,0,0.0,0.0,3.0,NaN,NaN
21,0,0.0,0.0,5.0,NaN,NaN
22,0,0.0,0.0,4.0,NaN,NaN
23,0,0.0,0.0,2.0,NaN,NaN
24,0,0.0,0.0,2.0,NaN,NaN
25,0,0.0,0.0,3.0,NaN,NaN
26,0,0.0,0.0,1.0,NaN,NaN
27,0,0.0,0.0,8.0,NaN,NaN
28,0,0.0,0.0,1.0,NaN,NaN
29,0,0.0,0.0,2.0,NaN,NaN
...,...,...,...,...,...,...
10003245,a2823401,1.0,21.0,0.0,NaN,32.284932
10003246,a3845770,1.0,19.0,0.0,NaN,14.816438
10003247,a4131633,1.0,7.0,0.0,NaN,11.306849
10003248,a4247570,1.0,11.0,0.0,NaN,9.947945
10003249,a4435115,1.0,14.0,0.0,NaN,5.479452
10003250,a460906,1.0,14.0,0.0,NaN,72.920548
10003251,a539851,1.0,4.0,0.0,NaN,4.147945
10003252,d106015,1.0,4.0,0.0,NaN,48.287671
10003253,d130116,1.0,11.0,0.0,NaN,54.463014
10003254,d245662,1.0,17.0,0.0,NaN,13.821918
10003255,d249199,1.0,22.0,0.0,NaN,13.052055
10003256,d272065,1.0,4.0,0.0,NaN,9.383562
10003257,d276216,1.0,75.0,0.0,NaN,10.772603
10003258,d280629,1.0,5.0,0.0,NaN,4.761644
10003259,d285083,1.0,20.0,0.0,NaN,2.753425
10003260,d291085,1.0,11.0,0.0,NaN,5.789041
10003261,d292634,1.0,9.0,0.0,NaN,6.660274
10003262,d301874,1.0,28.0,0.0,NaN,2.410959
10003263,d315425,1.0,1.0,0.0,NaN,1.717808
10003264,d319750,1.0,2.0,0.0,NaN,3.016438
10003265,d506267,1.0,14.0,0.0,NaN,4.345205
10003266,d887654,1.0,1.0,0.0,NaN,10.600000
10003267,e27663,1.0,8.0,0.0,NaN,19.380822
10003268,l640855,1.0,6.0,0.0,NaN,57.019178
10003269,l92594,1.0,2.0,0.0,NaN,107.134247
10003270,m,NaN,NaN,NaN,NaN,NaN
10003271,pctus9926473,1.0,42.0,0.0,NaN,4.030137
10003272,pp6708,1.0,0.0,0.0,NaN,1.627397
10003273,re25727,1.0,68.0,0.0,NaN,22.210959
10003274,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

In [11]:
df=df.drop(df['Unnamed: 0'].apply(lambda x: len(x)<4).index)

In [12]:
df.shape

(10003275, 5)

In [13]:
df.sample(n=10)

,back_citation,parent_back_citation,forw_citation,mean_forw_delay,mean_back_delay
0,0.0,0.0,7.0,NaN,NaN
D135882,5.0,8.0,0.0,NaN,47.366027
5619005,18.0,60.0,8.0,3.531849,16.749924
4310595,17.0,79.0,2.0,16.461644,31.130218
5505660,2.0,11.0,8.0,11.925342,7.952055
4790549,11.0,176.0,10.0,31.239178,12.247572
7852069,1.0,0.0,2.0,7.457534,4.791781
2387711,7.0,66.0,0.0,NaN,43.819178
3266830,6.0,67.0,0.0,NaN,28.450228
5052587,14.0,134.0,10.0,33.722192,14.261117

In [14]:
df.dtypes

back_citation            object
parent_back_citation     object
forw_citation            object
mean_forw_delay         float64
mean_back_delay         float64
dtype: object

In [15]:
df.describe()

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/numpy/lib/function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

       mean_forw_delay  mean_back_delay
count     5.972148e+06     7.020620e+06
mean      1.369108e+01     2.039864e+01
std       1.066943e+01     2.430667e+01
min      -2.805233e+02    -3.514364e+01
25%                NaN              NaN
50%                NaN              NaN
75%                NaN              NaN
max       1.827425e+02     2.075753e+02

In [16]:
df.to_csv(dst)