In [1]:
# Jan 30, 2020
# Joined the 5 classification tables available
# to be evaluated:
    # join is left by default
    # because I adopt cit_received as the leftmost data
        # this dataset keep data on the patents who received citation
    # I can make the first join as an 'outer' operation between cit_received and cit_made
    # To be complete, I can begin with patent.csv and make the first two joins with 'outer' type
#     Ill git add now and try this
    

# Jan 29, 2020
# many errors appeared after joining the dataset 
# i rewritten code into simpler scripts
# this script joins variables together to be processed later

# they are:
#     - cit_delay - reads clean_patent and clean_uspatentcitation and calculates delay by patent
#     - cit_made - reads clean_uspatentcitation and calculates citations made 
#     - cit_received - reads clean_uspatentcitation and calculates citations received
#     - cit_tree - reads clean_uspatentcitation and cit_made and calculates parent_citation
#     - generalit - reads wipo and clean_uspatentcitation and calculates generality
#     - originality - reads wipo and clean_uspatentcitation and calculates originality
#     - wipo_first_class - reads wipo and generates wipo_first_class

# it is now way faster, but I cannot know for sure if this is a consequence of coding or something changed in 
# infrastructure. 

# since class is a variable that also appear in non-cited patents, I'll include them in the final step


# Jan, 20th 2020
# join delay and tree data to form the analysis dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
def data_read(file, names, usecols, dtype):
    df = pd.read_csv(file, names=names, usecols=usecols, dtype=dtype, index_col='id', header=0)
    dfs.append(df)

In [4]:
patent='data/cleanpatent.csv'

received='data/cit_received.csv'
made='data/cit_made.csv'
received_delay='data/cit_received_delay.csv'
made_delay='data/cit_made_delay.csv'
cit_tree = 'data/cit_tree.csv'
originality = 'data/originality.csv'
generality = 'data/generality.csv'

dst='data/dataset.csv'

wipo = 'data/wipo.csv'
ipcr = 'data/ipcr.csv'
cpc = 'data/cpc.csv'
nber = 'data/nber.csv'
uspc = 'data/uspc.csv'

In [5]:
dfs=[]

In [6]:
#adopting patent.csv as the reference of patents
df = pd.read_csv(patent, dtype=object)
df['num_claims']=df['num_claims'].astype(float) #int does not handle NAN values, so using float instead
df.set_index('id', inplace=True)

In [7]:
#outer join to citation received
#there are patents who received citations that are not in patent.csv
#for example, the very ancient ones

names=['index', 'id', 'cit_received']
usecols=['id', 'cit_received']
dtype={'id':object, 'cit_received':float}
df2 = pd.read_csv(received, names=names, usecols=usecols, dtype=dtype, header=0)
df2.set_index('id', inplace=True)

df=df.join(df2, how='outer')
df['cit_received']=df['cit_received'].fillna(0)
dfs.append(df)
df2=[]

In [8]:
#i dont see any reason for patents making citations not to appear in patent.csv
#so from this data on, the list of patents is stable
#the number of rows should not change (check)

names=['index', 'id', 'cit_made']
usecols=['id', 'cit_made']
dtype={'id':object}
data_read(made, names, usecols, dtype)

In [9]:
names=['id', 'cit_received_delay']
dtype={'id':object}
usecols=['id', 'cit_received_delay']
data_read(received_delay, names, usecols, dtype)

In [10]:
names=['id', 'cit_made_delay']
dtype={'id':object}
usecols=['id', 'cit_made_delay']
data_read(made_delay, names, usecols, dtype)

In [11]:
names=['id', 'parent_citation']
dtype={'id':object}
usecols=['id', 'parent_citation']
data_read(cit_tree, names, usecols, dtype)

In [12]:
names=['id', 'df_squared','total_citation','herfindal','originality']
dtype={'id':object}
usecols=['id', 'originality']
data_read(originality, names, usecols, dtype)

In [13]:
names=['id', 'df_squared','total_citation','herfindal','generality']
dtype={'id':object}
usecols=['id', 'generality']
data_read(generality, names, usecols, dtype)

In [14]:
df = pd.read_csv(wipo, dtype=object)
df.set_index('id', inplace=True)
dfs.append(df)

In [15]:
df = pd.read_csv(ipcr, dtype=object)
df.set_index('id', inplace=True)
dfs.append(df)

In [16]:
df = pd.read_csv(cpc, dtype=object)
df.set_index('id', inplace=True)
dfs.append(df)

In [17]:
df = pd.read_csv(nber, dtype=object)
df.set_index('id', inplace=True)
dfs.append(df)

In [18]:
df = pd.read_csv(uspc, dtype=object)
df.set_index('id', inplace=True)
dfs.append(df)

In [19]:
%time
# dfs = [df, df_made, df_received_delay]
# dfs = [df.set_index('id') for df in dfs]
df=dfs[0].join(dfs[1:])

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 5.48 Âµs

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8702317 entries, 0000000 to re25727
Data columns (total 23 columns):
type                   object
date                   object
kind                   object
num_claims             float64
cit_received           float64
cit_made               float64
cit_received_delay     float64
cit_made_delay         float64
parent_citation        float64
originality            float64
generality             float64
wipo_sector_id         object
wipo_field_id          object
ipcr_section           object
ipcr_ipc_class         object
ipcr_subclass          object
cpc_section_id         object
cpc_subsection_id      object
cpc_group_id           object
nber_category_id       object
nber_subcategory_id    object
uspc_mainclass_id      object
uspc_subclass_id       object
dtypes: float64(8), object(15)
memory usage: 1.6+ GB

In [21]:
df.sample(n=10).transpose()

id,5029759,9227398,4820941,3310838,8153821,9852288,6000768,6735038,5474605,8184979
type,utility,utility,utility,NaN,utility,utility,utility,utility,utility,NaN
date,1991-07-09,2016-01-05,1989-04-11,NaN,2012-04-10,2017-12-26,1999-12-14,2004-05-11,1995-12-12,NaN
kind,A,B2,A,NaN,B2,B2,A,B2,A,NaN
num_claims,16,36,13,NaN,5,20,5,21,10,NaN
cit_received,16,0,25,5,4,0,3,3,11,2
cit_made,7,5,10,NaN,6,NaN,5,3,8,NaN
cit_received_delay,14.0866,NaN,10.1028,15.5929,5.00616,NaN,12.3479,9.61005,11.2545,3.93151
cit_made_delay,19.1859,10.8849,2.93726,NaN,12.837,NaN,3.7189,5.19726,13.5185,NaN
parent_citation,169,NaN,435,22,NaN,NaN,15,4,124,2
originality,0,0.48,0,NaN,0,NaN,0.32,0,0,NaN
generality,0,NaN,0,0,0,NaN,0.444444,0,0,0
wipo_sector_id,3,3,1,NaN,0,1,1,1,0,1
wipo_field_id,26,28,06,NaN,16,06,02,02,19,03
ipcr_section,F,B,H,NaN,C,G,A,G,C,H
ipcr_ipc_class,02,41,03,NaN,07,6,47,11,9,4
ipcr_subclass,M,J,K,NaN,D,F,B,B,C,J
cpc_section_id,F,B,G,NaN,A,NaN,G,G,C,H
cpc_subsection_id,F02,B41,G11,NaN,A61,NaN,G11,G11,C09,H04
cpc_group_id,F02M,B41J,G11C,NaN,A61K,NaN,G11B,G11B,C09C,H04J
nber_category_id,5,NaN,2,NaN,1,NaN,6,2,1,5
nber_subcategory_id,59,NaN,24,NaN,14,NaN,65,24,12,54
uspc_mainclass_id,239,No longer published,365,NaN,548,NaN,312,360,106,398
uspc_subclass_id,239/533.12,No longer published,365/185.23,NaN,548/531,NaN,312/223.2,360/75,106/404,398/89

In [22]:
df.describe()

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/numpy/lib/function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,num_claims,cit_received,cit_made,cit_received_delay,cit_made_delay,parent_citation,originality,generality
count,6.488254e+06,8.702317e+06,6.183715e+06,7.046552e+06,6.175204e+06,6.256483e+06,5.604693e+06,6.552762e+06
mean,1.414322e+01,1.050814e+01,1.477889e+01,2.044491e+01,1.367688e+01,2.472962e+02,1.497649e-01,1.471856e-01
std,1.200423e+01,2.794500e+01,4.194739e+01,2.435857e+01,1.069101e+01,1.588333e+03,2.102631e-01,2.107271e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,-2.858301e+02,-2.805233e+02,1.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,3.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN
max,8.870000e+02,3.922000e+03,5.811000e+03,2.075753e+02,1.827425e+02,2.274790e+05,8.000000e-01,8.000000e-01

In [23]:
df.describe(include=[np.object]).transpose()

                       count  unique                  top     freq
type                 6488253       7              utility  5879882
date                 6488256    2218           2017-04-18     7602
kind                 6488253      15                   B2  2920417
wipo_sector_id       5879781       5                    1  2158667
wipo_field_id        5879781      35                   06   528686
ipcr_section         5937053       8                    G  1492884
ipcr_ipc_class       5937053     137                    1   599183
ipcr_subclass        5937053     294                    B  1061448
cpc_section_id       5860545       8                    G  1453783
cpc_subsection_id    5860545     122                  H04   568315
cpc_group_id         5860545     625                 G06F   357971
nber_category_id     5100341       7                    2  1206890
nber_subcategory_id  5100341      38                   21   420382
uspc_mainclass_id    6288303     497  No longer published   642999
uspc_subclass_id     6288303  131123  No longer published   642999

In [24]:
# df=df.merge(wipo, left_index=True, right_index=True, how='outer')

In [25]:
# df.sample(n=10)

In [26]:
# df.describe()

In [27]:
df.to_csv(dst)

In [28]:
# this code includes WIPO in the dataset
# as class is also part of non-cited patents, I'm not including in here.
# in any case, for some reason this merge could not be done by the method used in the previous
# there is a bug when using read_csv using dtype and indexing. 
# it is a known bug in the community but i do not know why the previous join did not accused the issue
# the method below corrects the issue 

# names=['index', 'id', 'field_id']
# dtype={'id':object}
# usecols=['id', 'field_id']
# # data_read(wipo, names, usecols, dtype)
# wipo = pd.read_csv(wipo, names=names, usecols=usecols, dtype=dtype, header=0)
# wipo['id']=wipo['id'].astype(str)
# wipo=wipo.set_index('id')
# wipo.info()

# dfs.append(wipo)