In [1]:
import pandas as pd

In [2]:
df=[[1,2
    ]]

In [3]:
df

[[1, 2]]

In [4]:
df=pd.DataFrame(df, columns=['id', 'num'])

In [5]:
df

   id  num
0   1    2

In [6]:
df.append([12,3])

      0   id  num
0   NaN  1.0  2.0
0  12.0  NaN  NaN
1   3.0  NaN  NaN

In [7]:
df.id

0    1
Name: id, dtype: int64

In [8]:
df['id']

0    1
Name: id, dtype: int64

In [10]:
df=df[['id', 'num']]

In [11]:
df

   id  num
0   1    2