In [1]:
#Miami, December 27th, 2019
#Renato Kogeyama

# Due bad performance, I am updating the script to more efficient coding

# This script generates a citation ouput with patent|backward citation|cumulated backward citation | year
# The output generates a citation record by year, considering direct and indirect citation

In [2]:
import pandas as pd
import re
import matplotlib.pyplot as plot

import sys
sys.path.append('/home/rkogeyam/scripts/')
from sampler import sampler

In [3]:
%matplotlib inline

In [4]:
fname = r'/home/rkogeyam/PATENT_CITATION/uspatentcitation.tsv'

In [5]:
%%time
# df=pd.read_csv(fname, sep='\t')

sample_size=1000
df=sampler(fname, sample_size, sep='\t')

CPU times: user 5min 36s, sys: 9.63 s, total: 5min 45s
Wall time: 5min 45s

In [6]:
df['patent_id']=df['patent_id'].astype(str)

In [7]:
df['citation_id']=df['citation_id'].astype(str)

In [8]:
df.dtypes

uuid           object
patent_id      object
citation_id    object
date           object
name           object
kind           object
country        object
category       object
sequence        int64
dtype: object

In [9]:
df

,uuid,patent_id,citation_id,date,name,kind,country,category,sequence
0,00h8rtzytugjmhqlmspt10h8g,9439669,5843109,1998-12-01,Mehta et al.,A,US,cited by applicant,218
1,00kapyuimet8xnr5xph1y3o6y,7436128,5410466,1995-04-01,Maehara,A,US,cited by examiner,0
2,03prqufyy03rq3c5xvxpl6ahi,7202696,6608515,2003-08-01,Taheri,B2,US,cited by other,14
3,04iin8oae0g5f6y0ssvqklzna,6451030,5531792,1996-07-01,Huene,A,US,cited by other,19
4,08l1ezzjgi6lcni9x1xbjvv1i,6205503,5715456,1998-02-01,Bennett et al.,NaN,US,NaN,165
5,09hysjndz30105mc6olvrjtx4,8103589,6154207,2000-11-01,Farris et al.,A,US,cited by other,332
6,09z3gbl7j3ifxjq3v07mrqlps,7599342,6601135,2003-07-01,McBrearty et al.,B1,US,cited by other,18
7,0ar3n61z29wig0u3pntgwkvk5,D276620,2926591,1960-03-01,Huffman,NaN,US,NaN,2
8,0b8z9hcgjkm5a9eg2k7tg24dr,5653580,3062499,1962-11-01,Petersen,NaN,US,NaN,1
9,0beq19gs7isdg4e3r2ijigc2r,9038114,6636953,2003-10-01,Yuasa et al.,B2,US,cited by applicant,1
10,0d3o56a6lm3wvhexceqhoyxhb,6956021,4524769,1985-06-01,Wetterlin,A,US,cited by other,14
11,0es1941adqw7vkk9whvr1cd4u,7379515,6144846,2000-11-01,Durec,A,US,cited by other,587
12,0fenm0b7n117kxselsmpw8diq,7452879,6534524,2003-03-01,Kania et al.,B1,US,cited by other,58
13,0gww2eeru19cavk13xw9n7l1k,6523973,5463539,1995-10-01,Vandenbelt et al.,A,US,cited by other,24
14,0hv7b0xedcjnrpaghkipoykyw,7816680,7061014,2006-06-01,Hosono et al.,B2,US,cited by other,12
15,0m38sacwnjk7554pqvcdgaew9,9449850,5231690,1993-07-01,Soma et al.,A,US,cited by applicant,68
16,0n8yblfhfrqkhd5jheaapklse,5841074,4511950,1985-04-00,Bunner et al. ...,NaN,US,NaN,2
17,0nfeakfg3hbv5yzdjvv8r1zd5,D744612,D418904,2000-01-01,Milrud,S,US,cited by applicant,618
18,0oqc6kzqfbbw52leddy7mmcxy,6122392,5541662,1996-07-01,Adams et al.,NaN,US,NaN,181
19,0owrtedijjtbjx8d9am472r7o,7251983,5831149,1998-11-01,Webb,A,US,cited by other,43
20,0ptdun7kbi7so28v6jbzf7w5i,7217149,5167515,1992-12-01,Matsuoka et al.,A,US,cited by examiner,3
21,0rxuupbcp5nps1kna36czxy3s,4951387,4685628,1987-08-01,Berrett,NaN,US,NaN,4
22,0uvvyd2b43zvm9ze993x4g2yc,9372160,4547674,1985-10-01,Pryor et al.,A,US,cited by applicant,7
23,0w84d33lf40idse5phpbss4uv,7977924,6880403,2005-04-01,Shimada et al.,B1,US,cited by other,107
24,0x8qs4yi5d7eq1jmxhprvqi2i,6647993,5788778,1998-08-01,Shang et al.,A,US,cited by examiner,3
25,0xww2dncxa4lh6ry43h7e936m,5260713,3216017,1965-11-01,Moore,NaN,US,NaN,1
26,0ys7s4cldfi8gvhzvmdca0pzg,4778049,576653,1897-02-01,Bowlby,NaN,US,NaN,0
27,0z1sjknqtgk515tcvdg6oqq3h,8366727,5322055,1994-06-01,Davison et al.,A,US,cited by applicant,3
28,12tctjlyrst452r4mi2ypqinj,8556983,6249692,2001-06-01,Cowin,B1,US,cited by applicant,205
29,13h7jys2udlrioo4kep0719vz,7469045,6449344,2002-09-01,Goldfinger et al.,B1,US,cited by other,0
...,...,...,...,...,...,...,...,...,...
585,kkhlqsld18xdp1gghhfavwilb,5443509,4463753,1984-08-01,Gustilo,NaN,US,NaN,4
586,kr1xyqptzopvjqcgjykqfc4tq,4030228,2814904,1957-12-01,Reedall,NaN,US,NaN,2
587,krjn1wcl1zduhjwpk75frugy2,8333177,5960809,1999-10-01,Keller,A,US,cited by other,5
588,krxw6yj9andos3xj4xfacbhnx,RE46501,5666662,1997-09-01,Shibuya,A,US,cited by applicant,3
589,ktjx39bgwy4hxekejgi7wnc4t,4877696,3180008,1965-04-01,Elderkin et al.,NaN,US,NaN,3
590,kus3yjovyucmjztv9rsms7qu6,6278092,5804797,1998-09-01,Kaimoto et al.,NaN,US,NaN,3
591,kv7fxhtsrunlrzu9lri0w15v4,8099800,6588026,2003-07-01,Meier et al.,B2,US,cited by other,54
592,kxdtrqrs3jzha8b6rsojb548k,9448182,4410493,1983-10-01,Joslyn,A,US,cited by applicant,77
593,kxtx28l01zd2ny0iquqohpz0v,6832704,5363992,1994-11-01,Meshberg,A,US,cited by other,91
594,kzn9sulg722nwslojm4sv4xk2,D724524,D680949,2013-04-01,Swatek,S,US,cited by examiner,17
595,kzt0dwxk1nwt5mmsx9xwzwbqs,7395249,5771511,1998-06-01,Kummer et al.,A,US,cited by other,201
596,l0w4fcqyij5d0obdrpdjq5qoh,6782205,5129716,1992-07-01,Holakovszky et al.,A,US,cited by other,278
597,l77et7ecs4xzy5wwnhbmesw9l,6450985,4321993,1982-03-01,Hinzmann et al.,A,US,cited by other,2
598,l94nraluyvcv3ppkcbzkkd3m5,8297976,6994551,2006-02-01,Wang et al.,B2,US,cited by other,11
599,l9f5c8g8elgl17o2nu0r2dczu,6684939,4513809,1985-04-01,Schneider et al.,A,US,cited by other,4
600,la62lga5ssjldfa8w8ss9gewb,4448709,4176064,1979-11-01,Black,NaN,US,NaN,8
601,ld2ywwvwruwpt2f6z1dxu16v5,5103117,4542308,1985-09-01,Winen et al.,NaN,US,NaN,0
602,lg57nq9wgjrtx3c3vh946rpv0,4692161,4136699,1979-01-01,Collins et al.,NaN,US,NaN,7
603,lgq90ulgj4b6zl4xlehf406vp,5112309,4650462,1987-03-01,DeSatnick et al.,NaN,US,NaN,8
604,lh09yfhyh19uu73g5zvnzvahh,6983174,5825762,1998-10-01,"Kamin, Jr. et al.",A,US,cited by other,59
605,liw90vi1wd6r7m5i6lbpduyvt,5714720,4890096,1989-12-00,Taguchi ...,NaN,US,NaN,16
606,lj7kiklbhcwk88lwt7bsy8lo5,8354150,3817803,1974-06-01,Horsley,A,US,cited by applicant,27
607,ljopydtmx1pgn4yo0mkyqvac7,D732169,6726480,2004-04-01,Sutter,B1,US,cited by applicant,21
608,llmv2ip3bvfs3jmibet311r2o,8965150,6927690,2005-08-01,Wilson,B2,US,cited by applicant,10
609,llvcdl9rrhg8be9srgmr6wvo9,7886804,3447584,1969-06-01,Smart,A,US,cited by other,1
610,lmoeq4g3rsqhmnvc03pmhnce3,9562394,5156223,1992-10-01,Hipp,A,US,cited by applicant,9
611,ln3aqd39ldipezsg3ld6k3tzl,9522254,5817069,1998-10-01,Arnett,A,US,cited by applicant,270
612,lnosdqym43anpenzthosoxu1n,D632358,5501028,1996-03-01,Hull,A,US,cited by other,16
613,loryttkavz7n687z1rngp9cb0,9643040,9192803,2015-11-01,Cayo,B2,US,cited by examiner,15
614,lpsg8tl9lm5vxz129qdu9d2a6,8538713,6747858,2004-06-01,Sculley et al.,B1,US,cited by examiner,1

In [10]:
#Data Cleaning
# first, examine the data (patent and citation id)
len(df.citation_id)

615

In [11]:
# drop rows for which column citation_id has a length smaller than 5
indexNames = df[df['citation_id'].map(len) < 5].index
df.drop(indexNames , inplace=True)

In [12]:
df.shape

(615, 9)

In [13]:
# drop rows for which column patent_id has a length smaller than 5
indexNames = df[df['patent_id'].map(len) < 5].index
df.drop(indexNames , inplace=True)

In [14]:
df.shape

(615, 9)

In [15]:
%%time
#stripping non desired characters but keeping the originals for later check
#could merge unwanted information
cleaning_patent=lambda x:re.sub('([a-zA-Z0-9]+)', "", x)
df['citation_id']=df['citation_id'].apply(cleaning_patent)
df['patent_id']=df['patent_id'].apply(cleaning_patent)
# df['citation_id'] = df['citation_id'].str.extract('([a-zA-Z0-9]+)', expand=True)
# df['patent_id'] = df['patent_id'].str.extract('([a-zA-Z0-9]+)', expand=True)

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 4.29 ms

In [14]:
df.shape

(615, 9)

In [16]:
#stripping trailing white spaces
df['patent_id'] = df['patent_id'].str.strip()
df['citation_id'] = df['citation_id'].str.strip()

In [14]:
df.shape

(615, 9)

In [17]:
%%time
#to avoid problems when converting object to datetime format
#replacing day or month would not affect the output
df.date.replace({'-00':'-01'}, regex=True, inplace=True)
#replacing the year could be more problematic
#for now, I am just dropping

CPU times: user 1e+03 µs, sys: 0 ns, total: 1e+03 µs
Wall time: 1.23 ms

In [14]:
df.shape

(615, 9)

In [18]:
%%time
df['date']=pd.to_datetime(df.date,format='%Y-%m-%d', errors='coerce') #attention to date format - original data is year-month-day
# df['date_format']=pd.to_datetime(df.date,format='%Y-%m-%d', errors='coerce')

CPU times: user 2 ms, sys: 0 ns, total: 2 ms
Wall time: 935 µs

In [14]:
df.shape

(615, 9)

In [19]:
%%time
#script will take grant year into account
df.sort_values(by='date', ascending=False, inplace=True)

CPU times: user 0 ns, sys: 1e+03 µs, total: 1e+03 µs
Wall time: 875 µs

In [20]:
%%time
#first, i'll run only patents with some kind of citation
#as we have many zero citations in the dataset, this should decrease processing time

# cited_patents=df.groupby(['citation_id']).count().iloc[:, 1] #Series, patent-level
cited_patents=df.groupby(['citation_id']).count().iloc[:, 1] #Series, patent-level

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 2.51 ms

In [21]:
cited_patents

citation_id
    615
Name: patent_id, dtype: int64

In [22]:
%%time
cited_patents.dropna(0, inplace=True) #Series

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 14.5 µs

In [23]:
cited_patents.shape

(1,)

In [24]:
%%time
cited_patents=cited_patents.reset_index() #Dataframe

CPU times: user 1 ms, sys: 0 ns, total: 1 ms
Wall time: 1.23 ms

In [25]:
%%time
cited_patents.head()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 209 µs

  citation_id  patent_id
0                    615

In [26]:
%%time
cited_patents.rename(columns={'patent_id': 'back_citation'}, inplace=True)

CPU times: user 999 µs, sys: 0 ns, total: 999 µs
Wall time: 375 µs

In [27]:
%%time
#this is the trick element
#I match the total of citations received by the citing patent (identified by patent_id)
#The next step I sum all citations received by the citing patents

df=df.merge(cited_patents, how='left', left_on='patent_id', right_on='citation_id')
df.rename(columns={'back_citation': 'parent_patent_back_citation'}, inplace=True)

CPU times: user 4 ms, sys: 1e+03 µs, total: 5 ms
Wall time: 3.9 ms

In [28]:
df.head()

,uuid,patent_id,citation_id_x,date,name,kind,country,category,sequence,citation_id_y,parent_patent_back_citation
0,loryttkavz7n687z1rngp9cb0,,,2015-11-01,Cayo,B2,US,cited by examiner,15,,615
1,h9636hdn1b3pfjz05916ow2iw,,,2015-05-01,Shraim et al.,B2,US,cited by applicant,58,,615
2,jtstcewlet9uols9w5uxw2vx4,,,2015-02-01,Tian,S,US,cited by examiner,37,,615
3,iq0g4ic2kppw4par9oiiuxtsh,,,2014-07-01,Witter,S,US,cited by examiner,9,,615
4,9ozzetvzoemxs7hkxr4l4vw07,,,2014-07-01,Hecker et al.,B2,US,cited by applicant,473,,615

In [29]:
%%time
df.fillna(0, inplace=True)

CPU times: user 2 ms, sys: 0 ns, total: 2 ms
Wall time: 1.89 ms

In [30]:
%%time
#now I collaps df to become a patent level dataframe
#citation_id_x is the original cited patent
patent_level_df=df.groupby('citation_id_x').sum()

CPU times: user 2 ms, sys: 0 ns, total: 2 ms
Wall time: 2.64 ms

In [31]:
# cited_patents.plot.hist()

In [32]:
patent_level_df.head()

               sequence  parent_patent_back_citation
citation_id_x
                  38595                       378225

In [33]:
# lastly, i merge the number of citations to patent_level_df
# df=df.merge(cited_patents, how='left', left_on='patent_id', right_on='citation_id')

In [34]:
# df.describe()

In [35]:
# # cited_patents.iloc[0].citation_id

# # cited_patents.apply(lambda x: df[df.citation_id=='2673233'].patent_id) #so far, it returns a list of patents citing each cited patent

# cited_patents['cumulative']=cited_patents['back_citation']

# # search for citations in df
# # df[df.citation_id=='4025107'].patent_id #series of patents citing '4025107'

# # get cumulative data from cited_patents and sum
# # cited_patents[cited_patents.citation_id=='4025107'].cumulative.sum()

# %%time
# # chained functions
# # cited_patents['cumulative']=cited_patents.apply(lambda x:df[df.citation_id==x].patent_id.apply(lambda y:cited_patents[cited_patents.citation_id==y].cumulative.sum()))

# %%time
# # cumulative=lambda row: cited_patents[df.patent_id==row.citation_id].patent_id.sum()

# # cited_patents['cumulative']=cited_patents.apply(cumulative, axis=1)

# cited_patents.shape

# cited_patents

# # %%time
# # for i in cited_patents.index:
    
# #     citing_patents=df[df.citation_id==i].patent_id  #this is the trick element
# #                                                     #for each cited patent i generate a list of citing patents

# #     cumulative=0 #initialize the citation cumulated variable for each cited patent

# #     cited_patents['cumulative']=(lambda row: df[df.citation_id==row.index].sum().cumulative)
# #     print('Patent:', j, 'Cumulative citations:', cumulative)
        

    
    
# #     #     for j in citing_patents:
# # #         cumulative=+df[df.citation_id==j].sum().cumulative #each cited patent contributes to overall cumulative score

# # #     print(cited_patents.loc[cited_patents['citation_id']==i,'cumulative'])
# # #     cited_patents.at[i,'cumulative']=+cumulative
    

# %%time
# cited_patents.shape

# %%time
# cited_patents.describe()