In [1]:
#this script reads a file and look for weird patterns

In [2]:
import pandas as pd
import numpy as np

file= '/home/rkogeyam/PATENT_CITATION/data/generality.csv'

In [3]:
# lines = (line for line in open(file_name)) #reads each line in file_name
# list_line = (s.rstrip().split(",") for s in lines)
# cols = next(list_line) #reads first line into columns names

In [4]:
%matplotlib inline

In [5]:
df=pd.read_csv(file)

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
a=[['a', 'b'], [1,0], [2,0]]

In [8]:
df=pd.DataFrame(a)

In [9]:
df

   0  1
0  a  b
1  1  0
2  2  0

In [10]:
df.drop(0, axis=0, inplace=True)

In [11]:
df

   0  1
1  1  0
2  2  0

In [12]:
df.columns=['a','b']

In [13]:
df

   a  b
1  1  0
2  2  0

In [14]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('ab'))

In [15]:
df.append(df2).reset_index()

   index  a  b
0      1  1  0
1      2  2  0
2      0  5  6
3      1  7  8

In [16]:
df.append(df2).reset_index().groupby('index').agg(['count','sum'])

          a         b
      count sum count sum
index
0         1   5     1   6
1         2   8     2   8
2         1   2     1   0

In [17]:
df.groupby('b').agg(['count','sum'])

      a
  count sum
b
0     2   3

In [18]:
num_cols=list(df.select_dtypes(include=[np.number]).columns.values)

In [21]:
num_cols

[]

In [19]:
df[num_cols]

Empty DataFrame
Columns: []
Index: [1, 2]

In [30]:
df=df.astype('float')

In [31]:
num_cols=list(df.select_dtypes(include=[np.number]).columns.values)

In [32]:
df.dtypes

a    float64
b    float64
dtype: object

In [34]:
df[num_cols]

     a    b
1  1.0  0.0
2  2.0  0.0