In [1]:
import pandas as pd
import numpy as np

src='data/dataset.csv'
# cols=['patent_id','citation_id', 'cit_delay' ]
# df = pd.read_csv(src, usecols=cols, chunksize=1000)
df = pd.read_csv(src, chunksize=1000)
# df=pd.read_csv(src, usecols=[0, 1, 3], dtype={0:object}, index_col=0, chunksize=1000)

In [3]:
df.get_chunk().sample(n=10)

,Unnamed: 0,back_citation,parent_back_citation,forw_citation,mean_forw_delay,mean_back_delay
154,0,0.0,0.0,1.0,NaN,NaN
76,0,0.0,0.0,3.0,NaN,NaN
963,0,0.0,0.0,3.0,NaN,NaN
546,0,0.0,0.0,2.0,NaN,NaN
49,0,0.0,0.0,5.0,NaN,NaN
126,0,0.0,0.0,7.0,NaN,NaN
332,0,0.0,0.0,5.0,NaN,NaN
830,0,0.0,0.0,5.0,NaN,NaN
649,0,0.0,0.0,2.0,NaN,NaN
773,0,0.0,0.0,6.0,NaN,NaN

In [18]:
df=df.get_chunk()

In [19]:
df['cit_delay']=pd.to_timedelta(df['cit_delay']).dt.components.days/365

In [20]:
back_delay=df.groupby('citation_id').cit_delay.agg(['mean', 'count'])
back_delay.rename(columns={'count': 'back_citation', 'mean':'mean_back_delay'}, inplace=True)
back_delay.head()

             mean_back_delay  back_citation
citation_id
1058435            77.172603              1
1097543            69.205479              1
1120349            76.347945              1
1345858            88.865753              1
1386554            94.627397              1

In [3]:
df.get_chunk().dtypes

Unnamed: 0              float64
back_citation_left      float64
parent_back_citation      int64
forw_citation_left      float64
mean_forw_delay         float64
forw_citation_right     float64
mean_back_delay         float64
back_citation_right     float64
dtype: object

In [4]:
names=['citation_id', 'back_citation', 'parent_back_citation', 'forw_citation']
df = pd.read_csv(src, names=names, chunksize=1000)

In [29]:
df.get_chunk().set_index('citation_id', inplace=True)

In [32]:
df=df.get_chunk()

In [34]:
df.set_index('citation_id', inplace=True)

In [35]:
df

             back_citation  parent_back_citation  forw_citation
citation_id
4.0                   15.0                     0            0.0
1.0                    4.0                     0            0.0
5.0                   86.0                     0            0.0
1.0                    9.0                     0            0.0
2.0                   54.0                     0            0.0
3.0                   16.0                     0            0.0
2.0                   14.0                     0            0.0
1.0                   17.0                     0            0.0
1.0                    8.0                     0            0.0
2.0                   31.0                     0            0.0
2.0                   17.0                     0            0.0
1.0                    0.0                     0            0.0
2.0                   31.0                     0            0.0
2.0                    2.0                     0            0.0
2.0                   15.0                     0            0.0
1.0                   13.0                     0            0.0
1.0                   11.0                     0            0.0
3.0                   15.0                     0            0.0
2.0                   38.0                     0            0.0
2.0                    5.0                     0            0.0
4.0                   16.0                     0            0.0
1.0                    4.0                     0            0.0
4.0                   96.0                     0            0.0
3.0                    8.0                     0            0.0
3.0                   46.0                     0            0.0
1.0                   24.0                     0            0.0
2.0                   51.0                     0            0.0
10.0                  78.0                     0            0.0
6.0                   90.0                     0            0.0
1.0                   48.0                     0            0.0
...                    ...                   ...            ...
2.0                   16.0                     0            0.0
1.0                    0.0                     0            0.0
25.0                 574.0                     0            0.0
1.0                    6.0                     0            0.0
1.0                    1.0                     0            0.0
1.0                    3.0                     0            0.0
1.0                    0.0                     0            0.0
3.0                   25.0                     0            0.0
1.0                   56.0                     0            0.0
2.0                    7.0                     0            0.0
2.0                   26.0                     0            0.0
1.0                    2.0                     0            0.0
4.0                   31.0                     0            0.0
2.0                  140.0                     0            0.0
6.0                  188.0                     0            0.0
1.0                    2.0                     0            0.0
1.0                    8.0                     0            0.0
2.0                   48.0                     0            0.0
3.0                    5.0                     0            0.0
1.0                    1.0                     0            0.0
3.0                   69.0                     0            0.0
2.0                   17.0                     0            0.0
1.0                    0.0                     0            0.0
6.0                  218.0                     0            0.0
1.0                    8.0                     0            0.0
3.0                   19.0                     0            0.0
1.0                    9.0                     0            0.0
1.0                   44.0                     0            0.0
2.0                   56.0                     0            0.0
3.0                   45.0                     0            0.0

[1000 rows x 3 columns]

In [18]:
df.get_chunk().astype(int)

              citation_id  back_citation  parent_back_citation  forw_citation
4999 1014758           11             50                     0              0
5000 1014759            5             18                     0              0
5001 1014765            1             34                     0              0
5002 1014766            2              9                     0              0
5003 1014768            3             17                     0              0
5004 1014769            1             18                     0              0
5005 101477             2             16                     0              0
5006 1014771            2              5                     0              0
5007 1014774            8             44                     0              0
5008 1014776            7             63                     0              0
5009 1014778            2              9                     0              0
5010 1014780            1              3                     0              0
5011 1014784            4             49                     0              0
5012 1014785            1              3                     0              0
5013 1014787            3             22                     0              0
5014 1014794            7             34                     0              0
5015 1014799            4            324                     0              0
5016 101480             1             13                     0              0
5017 1014801            2             10                     0              0
5018 1014802            2              2                     0              0
5019 1014803            1              1                     0              0
5020 1014806            5            122                     0              0
5021 1014815            1              0                     0              0
5022 1014823            1              0                     0              0
5023 1014826            1              0                     0              0
5024 1014829            1              2                     0              0
5025 1014831            7             52                     0              0
5026 1014833            1              7                     0              0
5027 1014836            1              0                     0              0
5028 1014838            1             10                     0              0
...                   ...            ...                   ...            ...
5969 1017865            1             10                     0              0
5970 1017869            1              5                     0              0
5971 1017870            2              3                     0              0
5972 1017874            2              2                     0              0
5973 1017876            1             28                     0              0
5974 1017877            1              3                     0              0
5975 1017879            1              7                     0              0
5976 101788             1              4                     0              0
5977 1017883            1              4                     0              0
5978 1017885            1              2                     0              0
5979 1017893            1              3                     0              0
5980 1017896            1              2                     0              0
5981 1017897            1             14                     0              0
5982 1017899            1             25                     0              0
5983 1017900            3             17                     0              0
5984 1017910            3             19                     0              0
5985 1017911            1              5                     0              0
5986 1017915            1              2                     0              0
5987 1017916            5             11                     0              0
5988 1017919            1              7                     0              0
5989 1017920            1             22                     0              0
5990 1017921            1              0                     0              0
5991 1017922            1              0                     0              0
5992 1017927            1             17                     0              0
5993 1017928           12            104                     0              0
5994 101793             1              5                     0              0
5995 1017931            3             30                     0              0
5996 1017935            3             40                     0              0
5997 1017936            1              0                     0              0
5998 1017942            1              3                     0              0

[1000 rows x 4 columns]