In [59]:
import pandas as pd
import numpy as np

src='data/originality.csv'
# names=['index', 'id', 'cit_received']
# usecols=['id', 'cit_received']
# dtype={'id':object, 'cit_received':'int64'}
# cols=['patent_id','citation_id', 'cit_delay']

df = pd.read_csv(src, chunksize=1000)
# df = pd.read_csv(src, usecols=usecols, names=names, chunksize=1000, dtype=dtype, index_col='id')
# df=pd.read_csv(src, usecols=[0, 1, 3], dtype={0:object}, index_col=0, chunksize=1000)

In [60]:
df.get_chunk().dtypes

patent_id           int64
df_squared        float64
total_citation      int64
herfindal         float64
originality       float64
dtype: object

In [61]:
df.get_chunk()

     patent_id  df_squared  total_citation  herfindal  originality
0      4004367         1.0               1        1.0          0.0
1      4004409         1.0               1        1.0          0.0
2      4004415         1.0               1        1.0          0.0
3      4004452         1.0               1        1.0          0.0
4      4004487         1.0               1        1.0          0.0
5      4004500         1.0               1        1.0          0.0
6      4004521         1.0               1        1.0          0.0
7      4004528         1.0               1        1.0          0.0
8      4004533         1.0               1        1.0          0.0
9      4004534         1.0               1        1.0          0.0
10     4004541         1.0               1        1.0          0.0
11     4004562         1.0               1        1.0          0.0
12     4004564         1.0               1        1.0          0.0
13     4004571         1.0               1        1.0          0.0
14     4004572         1.0               1        1.0          0.0
15     4004615         1.0               1        1.0          0.0
16     4004636         1.0               1        1.0          0.0
17     4004681         1.0               1        1.0          0.0
18     4004704         1.0               1        1.0          0.0
19     4004705         1.0               1        1.0          0.0
20     4004709         1.0               1        1.0          0.0
21     4004724         1.0               1        1.0          0.0
22     4004736         1.0               1        1.0          0.0
23     4004742         1.0               1        1.0          0.0
24     4004757         1.0               1        1.0          0.0
25     4004847         1.0               1        1.0          0.0
26     4004848         1.0               1        1.0          0.0
27     4004852         1.0               1        1.0          0.0
28     4004859         1.0               1        1.0          0.0
29     4004860         1.0               1        1.0          0.0
..         ...         ...             ...        ...          ...
970    4016383         1.0               1        1.0          0.0
971    4016389         1.0               1        1.0          0.0
972    4016408         1.0               1        1.0          0.0
973    4016426         1.0               1        1.0          0.0
974    4016430         1.0               1        1.0          0.0
975    4016434         1.0               1        1.0          0.0
976    4016453         1.0               1        1.0          0.0
977    4016461         2.0               4        0.5          0.5
978    4016478         1.0               1        1.0          0.0
979    4016481         1.0               1        1.0          0.0
980    4016498         1.0               1        1.0          0.0
981    4016500         1.0               1        1.0          0.0
982    4016502         1.0               1        1.0          0.0
983    4016516         1.0               1        1.0          0.0
984    4016517         1.0               1        1.0          0.0
985    4016522         1.0               1        1.0          0.0
986    4016523         1.0               1        1.0          0.0
987    4016532         1.0               1        1.0          0.0
988    4016537         1.0               1        1.0          0.0
989    4016545         1.0               1        1.0          0.0
990    4016549         1.0               1        1.0          0.0
991    4016551         1.0               1        1.0          0.0
992    4016554         1.0               1        1.0          0.0
993    4016565         2.0               4        0.5          0.5
994    4016566         1.0               1        1.0          0.0
995    4016575         1.0               1        1.0          0.0
996    4016578         1.0               1        1.0          0.0
997    4016596         1.0               1        1.0          0.0
998    4016599         1.0               1        1.0          0.0
999    4016624         9.0               9        1.0          0.0

[1000 rows x 5 columns]

In [57]:
df.get_chunk().applymap(np.isreal)

ValueError: invalid literal for int() with base 10: 'cit_received'

In [10]:
df2=[]

In [24]:
for chunk in df:
    chunk[chunk.cit_received.isstring()]
#     chunk.isnumeric()
#     df2.append(chunk[not chunk['cit_received'].apply(lambda x: x.isnumeric())])

AttributeError: 'Series' object has no attribute 'isstring'

df2.info()

In [ ]:
df.sample(n=10)

In [ ]:
df.rename(columns={'Unnamed: 0': 'citation_id'}, inplace=True)

df['citation_id']=df['citation_id'].astype(object)

In [ ]:
df.dtypes

In [ ]:
df.drop(['patent_id', 'Unnamed: 0.1', 'sequence', 'patent_id_raw'], inplace=True, axis=1)

In [ ]:
df.columns({'Unnamed: 0':'citation_id'})

In [ ]:
df.set_index('Unnamed: 0')

In [ ]:
df['cit_delay']=pd.to_timedelta(df['cit_delay']).dt.components.days/365

In [ ]:
back_delay=df.groupby('citation_id').cit_delay.agg(['mean', 'count'])
back_delay.rename(columns={'count': 'back_citation', 'mean':'mean_back_delay'}, inplace=True)
back_delay.head()

In [ ]:
df.get_chunk().dtypes

In [ ]:
names=['citation_id', 'back_citation', 'parent_back_citation', 'forw_citation']
df = pd.read_csv(src, names=names, chunksize=1000)

In [ ]:
df.get_chunk().set_index('citation_id', inplace=True)

In [ ]:
df=df.get_chunk()

In [ ]:
df.set_index('citation_id', inplace=True)

In [ ]:
df

In [ ]:
df.get_chunk().astype(int)