In [6]:
import pandas as pd
import gzip

file_classes=gzip.open('data/classes.csv.gz', 'r')
df_classes=pd.read_csv(file_classes)
df_classes.rename(columns={'id': 'class_id'}, inplace=True)

In [10]:
classification = 'data/'+'wipo'+'.csv.gz'
file_class=gzip.open(classification, 'rt')
class_df=pd.read_csv(file_class, dtype=object, usecols=[0,1,2])

In [11]:
class_df

               id wipo_sector_id wipo_field_id
0        10000000              2            10
1        10000259              2            10
2        10000786              2            10
3        10000789              2            10
4        10000793              2            10
5        10001106              2            10
6        10001266              2            10
7        10001287              2            10
8        10001356              2            10
9        10001357              2            10
10       10001358              2            10
11       10001359              2            10
12       10001360              2            10
13       10001361              2            10
14       10001362              2            10
15       10001363              2            10
16       10001364              2            10
17       10001365              2            10
18       10001366              2            10
19       10001367              2            10
20       10001368              2            10
21       10001369              2            10
22       10001370              2            10
23       10001371              2            10
24       10001372              2            10
25       10001373              2            10
26       10001374              2            10
27       10001375              2            10
28       10001376              2            10
29       10001378              2            10
...           ...            ...           ...
6621091   9995121              4            35
6621092   9995122              4            35
6621093   9995123              4            35
6621094   9995124              4            35
6621095   9995125              4            35
6621096   9995126              4            35
6621097   9995127              4            35
6621098   9995128              4            35
6621099   9995129              4            35
6621100   9995130              4            35
6621101   9995131              4            35
6621102   9995132              4            35
6621103   9995133              4            35
6621104   9995134              4            35
6621105   9995135              4            35
6621106   9995136              4            35
6621107   9995137              4            35
6621108   9995138              4            35
6621109   9995139              4            35
6621110   9995140              4            35
6621111   9995327              4            35
6621112   9995365              4            35
6621113   9995643              4            35
6621114   9995698              4            35
6621115   9995840              4            35
6621116   9996048              4            35
6621117   9996116              4            35
6621118   9999144              4            35
6621119   9999962              4            35
6621120   9999993              4            35

[6621121 rows x 3 columns]

In [8]:
class_system='wipo_field_id'
df_classes[df_classes['system']==class_system]

,system,class_id,sector_title,field_title
0,wipo_field_id,01,Electrical Eng,"Electrical machinery, apparatus, energy"
1,wipo_field_id,02,Electrical Eng,Audio-visual technology
2,wipo_field_id,03,Electrical Eng,Telecommunications
3,wipo_field_id,04,Electrical Eng,Digital communication
4,wipo_field_id,05,Electrical Eng,Basic communication processes
5,wipo_field_id,06,Electrical Eng,Computer technology
6,wipo_field_id,07,Electrical Eng,IT methods for management
7,wipo_field_id,08,Electrical Eng,Semiconductors
8,wipo_field_id,09,Instruments,Optics
9,wipo_field_id,10,Instruments,Measurement
10,wipo_field_id,11,Instruments,Analysis of biological materials
11,wipo_field_id,12,Instruments,Control
12,wipo_field_id,13,Instruments,Medical technology
13,wipo_field_id,14,Chemistry,Organic fine chemistry
14,wipo_field_id,15,Chemistry,Biotechnology
15,wipo_field_id,16,Chemistry,Pharmaceuticals
16,wipo_field_id,17,Chemistry,"Macromolecular chemistry, polymers"
17,wipo_field_id,18,Chemistry,Food chemistry
18,wipo_field_id,19,Chemistry,Basic materials chemistry
19,wipo_field_id,20,Chemistry,"Materials, metallurgy"
20,wipo_field_id,21,Chemistry,"Surface technology, coating"
21,wipo_field_id,22,Chemistry,Micro-structural and nano-technology
22,wipo_field_id,23,Chemistry,Chemical Eng
23,wipo_field_id,24,Chemistry,Environmental technology
24,wipo_field_id,25,Mechanical Eng,Handling
25,wipo_field_id,26,Mechanical Eng,Machine tools
26,wipo_field_id,27,Mechanical Eng,"Engines, pumps, turbines"
27,wipo_field_id,28,Mechanical Eng,Textile and paper machines
28,wipo_field_id,29,Mechanical Eng,Other special machines
29,wipo_field_id,30,Mechanical Eng,Thermal processes and apparatus
30,wipo_field_id,31,Mechanical Eng,Mechanical elements
31,wipo_field_id,32,Mechanical Eng,Transport
32,wipo_field_id,33,Other fields,"Furniture, games"
33,wipo_field_id,34,Other fields,Other consumer goods
34,wipo_field_id,35,Other fields,Civil Eng
35,wipo_field_id,36,Plant,Plant

In [9]:
df_classes['class_id']=df_classes['class_id'].apply('{:0>2}'.format)