In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [18]:
df2 = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('FGHI'))

In [21]:
df2.head()

    F   G   H   I
0  27  35  24  22
1  56  94  96  31
2  74  10  15  53
3   4  49  37  64
4  43  40   3  39

In [20]:
df2.sum(axis='columns')

0     108
1     277
2     152
3     154
4     125
5     259
6     266
7     150
8     277
9     212
10    183
11    288
12    216
13    267
14    178
15    297
16    214
17    267
18    182
19    172
20    114
21    205
22    174
23    149
24    197
25     98
26    252
27    138
28    174
29    262
     ...
70    248
71    176
72    254
73    188
74    194
75    205
76    177
77    141
78    229
79    187
80    111
81    211
82    206
83    208
84    154
85    285
86    172
87    267
88    152
89     95
90    187
91    214
92    206
93    105
94    274
95    138
96     53
97    201
98    203
99    165
dtype: int64

In [26]:
df.iloc[:,0]

0     78
1     69
2      9
3     35
4     31
5     87
6     77
7      3
8     90
9     85
10    31
11    96
12    80
13    97
14    55
15    81
16    10
17     3
18    61
19    61
20    12
21    29
22    33
23    55
24    44
25    25
26    69
27    36
28    81
29    86
      ..
70    67
71    85
72    29
73    17
74    57
75    31
76    66
77     3
78    73
79    34
80    20
81    68
82    64
83    77
84    80
85    80
86     8
87    90
88    33
89    27
90    32
91    51
92    28
93    41
94     1
95    46
96    68
97    59
98    35
99    30
Name: A, dtype: int64

In [27]:
df2.sum(axis='columns')/np.square(df).iloc[:,0]

0       0.017751
1       0.058181
2       1.876543
3       0.125714
4       0.130073
5       0.034219
6       0.044864
7      16.666667
8       0.034198
9       0.029343
10      0.190427
11      0.031250
12      0.033750
13      0.028377
14      0.058843
15      0.045267
16      2.140000
17     29.666667
18      0.048912
19      0.046224
20      0.791667
21      0.243757
22      0.159780
23      0.049256
24      0.101756
25      0.156800
26      0.052930
27      0.106481
28      0.026520
29      0.035425
         ...
70      0.055246
71      0.024360
72      0.302021
73      0.650519
74      0.059711
75      0.213319
76      0.040634
77     15.666667
78      0.042972
79      0.161765
80      0.277500
81      0.045631
82      0.050293
83      0.035082
84      0.024063
85      0.044531
86      2.687500
87      0.032963
88      0.139578
89      0.130316
90      0.182617
91      0.082276
92      0.262755
93      0.062463
94    274.000000
95      0.065217
96      0.011462
97      0.057742
98      0.165714
99      0.183333
dtype: float64