In [2]:
#Script to prepare variables for further analysis
#Renato Kogeyama

#January 3rd, 2019
#change the file name
#include variables from Hall et al 2001

#December 29, 2019
#including ancestry citation

#10-03-2019
#I rewrote the citation data to clean the strings


#09-27-2019
#I am renaming citation as forward citation and backward citation

#09-17-2018

#Alto uso de memoria - rodar no Amazon AWS 

import pandas as pd
# from sklearn.preprocessing import MinMaxScaler #To normalize data

In [ ]:
#ler o arquivo de citacoes
# asg = pd.read_csv(r'/home/rkogeyam/PATENT_CITATION/fwd_back_cit.csv', index_col=0, dtype={0: object, "forward_citation": float,"backward_citation": float})
src = '/home/rkogeyam/PATENT_CITATION/data/cit_tree.csv'
dst='data/df_w_pat_cit_200101.csv'

#citation data
asg = pd.read_csv(src, index_col=1)

In [3]:
asg.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
asg.describe()

       back_citation  parent_back_citation  forw_citation
count   8.525072e+06          8.525072e+06   8.525072e+06
mean    1.072666e+01          1.814898e+02   1.072666e+01
std     2.819247e+01          1.365067e+03   3.634551e+01
min     0.000000e+00          0.000000e+00   0.000000e+00
25%     1.000000e+00          0.000000e+00   0.000000e+00
50%     3.000000e+00          1.400000e+01   4.000000e+00
75%     1.000000e+01          7.900000e+01   1.000000e+01
max     3.922000e+03          2.274790e+05   5.811000e+03

In [8]:
#patent data
df = pd.read_csv('data/patent.csv',sep='\t', error_bad_lines=False)

#o problema aqui eh que estas linhas tem tags tipo <b><\b>
#poderia limpa-las antes de

b'Skipping line 4232501: expected 10 fields, saw 11\n'
b'Skipping line 4267898: expected 10 fields, saw 11\n'
b'Skipping line 4327680: expected 10 fields, saw 11\nSkipping line 4368028: expected 10 fields, saw 11\nSkipping line 4377090: expected 10 fields, saw 11\n'
b'Skipping line 4426415: expected 10 fields, saw 11\n'
/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.shape

(6488261, 10)

In [10]:
df['date']=pd.to_datetime(df['date'], format="%Y-%m-%d", errors='coerce') #conversao de string para data

df['gyear']=df['date'].dt.year
df['gmonth']=df['date'].dt.month
df['gday']=df['date'].dt.day

In [12]:
# dados desnecessarios
df.drop(columns=['date'])

# df=df.dropna()
#dropando dados que nao sao importantes no momento
#a coluna country eh toda US. filename nao tem uso agora, e a coluna number eh identica a coluna id.
df=df.drop(columns=['number', 'filename', 'country'])

In [13]:
# df.plot.hist()

In [14]:
# juntando as citacoes a tabela principal
# merge left assim citacoes que nao encontram patentes sao descartadas
df=pd.merge(df, asg, how='left', left_on='id', right_index=True)

In [15]:
df.shape

(6488261, 17)

In [17]:
df.head()

,id,type,number,country,date,abstract,title,kind,num_claims,filename,year,month,day,back_citation,parent_back_citation,patent_id,forw_citation
0,3930271,utility,3930271,US,1976-01-06,A golf glove is disclosed having an extra fin...,Golf glove,A,4.0,pftaps19760106_wk01.zip,1976.0,1.0,6.0,NaN,NaN,NaN,NaN
1,3930272,utility,3930272,US,1976-01-06,A lock for a height-adjustable crib or plaype...,Crib leg lock,A,3.0,pftaps19760106_wk01.zip,1976.0,1.0,6.0,NaN,NaN,NaN,NaN
2,3930273,utility,3930273,US,1976-01-06,A bed safety side rail arrangement which incl...,Bed safety side rail arrangement,A,24.0,pftaps19760106_wk01.zip,1976.0,1.0,6.0,NaN,NaN,NaN,NaN
3,3930274,utility,3930274,US,1976-01-06,The assembly includes a longitudinal axis and...,Assembly for use in recreational activities,A,7.0,pftaps19760106_wk01.zip,1976.0,1.0,6.0,NaN,NaN,NaN,NaN
4,3930275,utility,3930275,US,1976-01-06,A novel slipper and its method of fabrication...,Method of fabricating a slipper,A,9.0,pftaps19760106_wk01.zip,1976.0,1.0,6.0,NaN,NaN,NaN,NaN

In [18]:
# NaN in citations means a patent did not receive citations (or made)
df['forw_citation']=df['forw_citation'].fillna(value=0) 
df['back_citation']=df['back_citation'].fillna(value=0)
df['parent_back_citation']=df['parent_back_citation'].fillna(value=0)

In [22]:
# I tested and there are 7 entries with NaN in num_claims
# They are entry errors
# I'll drop now and maybe come back later to correct
# df[df['num_claims'].isnull()]
df.dropna(subset=['num_claims'], inplace=True)

In [23]:
df.describe()

,num_claims,year,month,day,back_citation,parent_back_citation,forw_citation
count,6.488254e+06,6.488254e+06,6.488254e+06,6.488254e+06,6.488254e+06,6.488254e+06,6.488254e+06
mean,1.414322e+01,2.002723e+03,6.590934e+00,1.564228e+01,7.257138e+00,1.005467e+02,7.831687e+00
std,1.200423e+01,1.132268e+01,3.402092e+00,8.827003e+00,2.569205e+01,1.066788e+03,2.959544e+01
min,0.000000e+00,1.976000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.000000e+00,1.995000e+03,4.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.200000e+01,2.005000e+03,7.000000e+00,1.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+01,2.013000e+03,1.000000e+01,2.300000e+01,5.000000e+00,1.300000e+01,7.000000e+00
max,8.870000e+02,2.017000e+03,1.200000e+01,3.100000e+01,3.433000e+03,1.567150e+05,5.811000e+03

In [24]:
df.shape

(6488254, 17)

In [26]:
# 19-09-26
# este eh o trecho que deve ser alterado
# ao inves de gerar varias dummies, vou categorizar a variavel

# df=pd.get_dummies(df, columns=['type', 'kind'])
# df.describe()

df["type"] = df["type"].astype('category')
df["kind"] = df["kind"].astype('category')


#eh um bom ponto para salvar o arquivo

df.to_csv(dst)

#comecar a partir dele em um novo notebook