In [1]:
#sampler for citation merges
#Renato Kogeyama

#Miami, Jan 13 2020
# this script filters by kind (this version is filtering by b1 - utility patent grant)
# at this point is matching wipo with patent - but in reality, only patent is necessary

#Miami, Jan 11 2020
#original sampler cannot group citations 
#this way, in case of mergers, there is no way that merged patents are related 
# - ie, allow for the calculation of variables that require a relevant number of successful mergers

#i initially planned to do this by using the classification system
#however, to guarantee citation, i can use the citation list and generate wipo from that original list

In [2]:
import pandas as pd
import numpy as np

In [3]:
wipo = '/home/rkogeyam/PATENT_CITATION/data/wipo_horiz.csv'
patent = '/home/rkogeyam/PATENT_CITATION/data/patent.csv'
dst = '/home/rkogeyam/PATENT_CITATION/data/wipo_kind_b1.csv'

In [4]:
wipo_df = pd.read_csv(wipo, index_col='patent_id', dtype={'patent_id':object})
cols=['id', 'type', 'date', 'kind']
patent_df = pd.read_csv(patent, sep='\t', na_values='-', usecols=cols , error_bad_lines=False, index_col=0)

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
wipo_df.sample(n=10)

,field_id_1,field_id_10,field_id_11,field_id_12,field_id_13,field_id_14,field_id_15,field_id_16,field_id_17,field_id_18,...,field_id_32,field_id_33,field_id_34,field_id_35,field_id_4,field_id_5,field_id_6,field_id_7,field_id_8,field_id_9
patent_id,,,,,,,,,,,,,,,,,,,,,
5292941,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7644515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10122195,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10402574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
6245884,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6511366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4449280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8680524,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8963219,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8948018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
patent_df.sample(n=10)

            type        date kind
id
4914723  utility  1990-04-03    A
7264987  utility  2007-09-04   B2
4627683  utility  1986-12-09    A
8273019  utility  2012-09-25   B2
5995714  utility  1999-11-30    A
9549310  utility  2017-01-17   B2
7688708  utility  2010-03-30   B2
D557029   design  2007-12-11   S1
9280146  utility  2016-03-08   B2
6997289  utility  2006-02-14   B2

In [7]:
patent_df.dtypes

type    object
date    object
kind    object
dtype: object

In [8]:
patent_df.index=patent_df.index.astype('str')

In [9]:
wipo_df.index=wipo_df.index.astype('str')

In [10]:
patent_df.index.dtype

dtype('O')

In [11]:
wipo_df.index.dtype

dtype('O')

In [12]:
# df=patent_df.join(wipo_df, how='inner')  
df=patent_df.merge(wipo_df, how='inner', right_index=True, left_index=True)

In [13]:
df.isnull().sum()

type           0
date           0
kind           3
field_id_1     0
field_id_10    0
field_id_11    0
field_id_12    0
field_id_13    0
field_id_14    0
field_id_15    0
field_id_16    0
field_id_17    0
field_id_18    0
field_id_19    0
field_id_2     0
field_id_20    0
field_id_21    0
field_id_22    0
field_id_23    0
field_id_24    0
field_id_25    0
field_id_26    0
field_id_27    0
field_id_28    0
field_id_29    0
field_id_3     0
field_id_30    0
field_id_31    0
field_id_32    0
field_id_33    0
field_id_34    0
field_id_35    0
field_id_4     0
field_id_5     0
field_id_6     0
field_id_7     0
field_id_8     0
field_id_9     0
dtype: int64

In [14]:
df.head()

,type,date,kind,field_id_1,field_id_10,field_id_11,field_id_12,field_id_13,field_id_14,field_id_15,...,field_id_32,field_id_33,field_id_34,field_id_35,field_id_4,field_id_5,field_id_6,field_id_7,field_id_8,field_id_9
3930271,utility,1976-01-06,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3930272,utility,1976-01-06,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3930273,utility,1976-01-06,A,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3930274,utility,1976-01-06,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3930275,utility,1976-01-06,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df.describe()

,field_id_1,field_id_10,field_id_11,field_id_12,field_id_13,field_id_14,field_id_15,field_id_16,field_id_17,field_id_18,...,field_id_32,field_id_33,field_id_34,field_id_35,field_id_4,field_id_5,field_id_6,field_id_7,field_id_8,field_id_9
count,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,...,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06,5.870653e+06
mean,8.056208e-02,6.556102e-02,1.036188e-02,2.838475e-02,6.005277e-02,4.737344e-02,2.909625e-02,2.524779e-02,3.030600e-02,9.364205e-03,...,5.435477e-02,3.187788e-02,2.629231e-02,3.528023e-02,6.740886e-02,2.501374e-02,1.177889e-01,1.952457e-02,6.232969e-02,6.205187e-02
std,2.723072e-01,2.475868e-01,1.012646e-01,1.662673e-01,2.376319e-01,2.124780e-01,1.681007e-01,1.568855e-01,1.714866e-01,9.633591e-02,...,2.267946e-01,1.757351e-01,1.600926e-01,1.845685e-01,2.508483e-01,1.562115e-01,3.224680e-01,1.385552e-01,2.418140e-01,2.413775e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.000000e+00,2.000000e+00,1.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,...,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00

In [16]:
# for chunk in pd.read_csv(wipo, sep=',', chunksize=10000, dtype={'patent_id': 'str'}):
# #     output=[ i for item in chunk if conditional ]

# # This is equivalent to:
#     test=chunk[chunk['patent_id'].any()=='8393846']
#     if test:
#         print(test)
#     else:
#         continue
# #     for row in chunk:
# #         print(row)
# #         if row['patent_id']=='8393846':
# #             print(row)
# #     else:
# #         continue

In [17]:
# df.get_chunk().dtypes

In [18]:
df[df['kind']=='B1'].to_csv(dst)