In [1]:
# Script to calculate originality and  application data
# This script prepares the classification data before merging

In [2]:
import sys
sys.path.append('/home/rkogeyam/scripts/')
from sampler import sampler

import pandas as pd
import numpy as np

In [3]:
# from the data dictionary

# patent_id: patent number
# field_id:  WIPO technology field ID as derived from crosswalk 
#            http://www.wipo.int/export/sites/www/ipstats/en/statistics/patents/xls/ipc_technology.xls
# sequence:  order in which WIPO technology field appears on patent

In [4]:
citation= '/home/rkogeyam/PATENT_CITATION/data/uspatentcitation.tsv'
wipo = '/home/rkogeyam/PATENT_CITATION/data/wipo.tsv'
dst= '/home/rkogeyam/PATENT_CITATION/data/wipo_horiz_opt.csv'

In [5]:
%%time
# wipo_df=pd.read_csv(wipo, sep='\t', dtype='object')

sample_size=100000
wipo_df=sampler(wipo, sample_size, sep='\t')

CPU times: user 24.9 s, sys: 381 ms, total: 25.2 s
Wall time: 25.2 s

In [6]:
#first, construct a table with wipo categories in columns, patent level
#second,

In [7]:
wipo_df.head()

   patent_id  field_id  sequence
0   10002704         1         0
1   10002722         1         0
2   10003090         1         0
3   10008551         1         1
4   10008845         1         0

In [8]:
wipo_df.dtypes

patent_id    int64
field_id     int64
sequence     int64
dtype: object

In [9]:
%%time
# wipo_df['field_id']=wipo_df['field_id'].astype('category')

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.25 µs

In [10]:
%%time
# field=pd.get_dummies(wipo_df, prefix='field_id', sparse=True)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 4.77 µs

In [11]:
%%time
# wipo_df=wipo_df.merge(field)
wipo_df = pd.get_dummies(wipo_df, columns=['field_id'])

CPU times: user 21.5 ms, sys: 9.02 ms, total: 30.5 ms
Wall time: 30.2 ms

In [12]:
wipo_df.head()

,patent_id,sequence,field_id_1,field_id_2,field_id_3,field_id_4,field_id_5,field_id_6,field_id_7,field_id_8,...,field_id_26,field_id_27,field_id_28,field_id_29,field_id_30,field_id_31,field_id_32,field_id_33,field_id_34,field_id_35
0,10002704,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10002722,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10003090,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10008551,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10008845,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
%%time
wipo_df.to_csv(dst)

CPU times: user 5.21 s, sys: 157 ms, total: 5.36 s
Wall time: 5.39 s