In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

src='data/nber.tsv'
dst='data/nber.csv'

In [2]:
# uuid:           unique id
# patent_id:      patent number
# category_id:    National Bureau of Economic Research (NBER) technology category ID
# subcategory_id: NBER subcategory ID

In [3]:
usecols=['patent_id', 'category_id', 'subcategory_id']
df = pd.read_csv(src, sep='\t', usecols=usecols)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5105937 entries, 0 to 5105936
Data columns (total 3 columns):
patent_id         object
category_id       int64
subcategory_id    int64
dtypes: int64(2), object(1)
memory usage: 116.9+ MB

In [5]:
df.groupby(['category_id']).count()

             patent_id  subcategory_id
category_id
1               732664          732664
2              1209013         1209013
3               487455          487455
4              1050779         1050779
5               830934          830934
6               794824          794824
7                  268             268

In [6]:
df.groupby(['category_id', 'subcategory_id']).count()

                            patent_id
category_id subcategory_id
1           11                  21160
            12                  61714
            13                  21216
            14                 121238
            15                 128743
            19                 378593
2           21                 421392
            22                 368020
            23                 144959
            24                 183125
            25                  91517
3           31                 266148
            32                 169001
            33                  14925
            39                  37381
4           41                 157584
            42                  89777
            43                 140263
            44                  72642
            45                 197881
            46                 233991
            49                 158641
5           51                 178960
            52                 108702
            53                 148166
            54                  78960
            55                 129233
            59                 186913
6           61                  72728
            62                  51240
            63                  55839
            64                  56324
            65                  80409
            66                  40582
            67                  30126
            68                  64964
            69                 342612
7           70                    268

In [7]:
# columns=list(df)[1:]
# for i in columns:
#     print('\n Top 5 ', i)
#     print(df[i].value_counts().head())
#     df[i].plot.bar()
# #     print(df[i].value_counts())
# #     display(HTML(df.groupby(['nber_category_id']).count().to_html()))
# #     display(HTML(df[i].value_counts().reset_index().to_html()))

In [8]:
# display(HTML(df['main_group'].value_counts().reset_index().to_html()))

In [9]:
df=df.add_prefix('nber_')

In [10]:
df.rename(columns={ df.columns[0]: "id" }, inplace = True)

In [11]:
df.set_index('id').to_csv(dst)