In [1]:
#Miami, December 27th, 2019
#Renato Kogeyama

# Due bad performance, I am updating the script to more efficient coding

# This script generates a citation ouput with patent|backward citation|cumulated backward citation | year
# The output generates a citation record by year, considering direct and indirect citation

In [2]:
import pandas as pd
import re
import matplotlib.pyplot as plot

import sys
sys.path.append('/home/rkogeyam/scripts/')
from sampler import sampler

In [3]:
%matplotlib inline

In [4]:
fname = r'/home/rkogeyam/PATENT_CITATION/data/uspatentcitation.tsv'
dst = '/home/rkogeyam/PATENT_CITATION/cit_tree.csv'

In [5]:
%%time
df=pd.read_csv(fname, sep='\t')

# sample_size=100
# df=sampler(fname, sample_size, sep='\t')

CPU times: user 5min 47s, sys: 12.5 s, total: 6min
Wall time: 6min 2s

In [6]:
df['patent_id']=df['patent_id'].astype(str)

In [7]:
df['citation_id']=df['citation_id'].astype(str)

In [8]:
df.shape

(57, 9)

In [9]:
df.dtypes

uuid           object
patent_id      object
citation_id    object
date           object
name           object
kind           object
country        object
category       object
sequence        int64
dtype: object

In [10]:
# drop rows for which column citation_id has a length smaller than 5
indexNames = df[df['citation_id'].map(len) < 5].index
df.drop(indexNames , inplace=True)

In [11]:
# drop rows for which column patent_id has a length smaller than 5
indexNames = df[df['patent_id'].map(len) < 5].index
df.drop(indexNames , inplace=True)

In [12]:
df.shape

(57, 9)

In [13]:
%%time
#stripping non desired characters but keeping the originals for later check
#could merge unwanted information
cleaning_patent=lambda x:re.sub('([^a-zA-Z0-9]+)', "", x)
df['citation_id']=df['citation_id'].apply(cleaning_patent)
df['patent_id']=df['patent_id'].apply(cleaning_patent)
# df['citation_id'] = df['citation_id'].str.extract('([a-zA-Z0-9]+)', expand=True)
# df['patent_id'] = df['patent_id'].str.extract('([a-zA-Z0-9]+)', expand=True)

CPU times: user 1.39 ms, sys: 0 ns, total: 1.39 ms
Wall time: 1.37 ms

In [14]:
#stripping trailing white spaces
df['patent_id'] = df['patent_id'].str.strip()
df['citation_id'] = df['citation_id'].str.strip()

In [15]:
%%time
#to avoid problems when converting object to datetime format
#replacing day or month would not affect the output
df.date.replace({'-00':'-01'}, regex=True, inplace=True)
#replacing the year could be more problematic
#for now, I am just dropping

CPU times: user 864 µs, sys: 0 ns, total: 864 µs
Wall time: 865 µs

In [16]:
%%time
df['date']=pd.to_datetime(df.date,format='%Y-%m-%d', errors='coerce') #attention to date format - original data is year-month-day
# df['date_format']=pd.to_datetime(df.date,format='%Y-%m-%d', errors='coerce')

CPU times: user 805 µs, sys: 0 ns, total: 805 µs
Wall time: 798 µs

In [17]:
df.shape

(57, 9)

In [18]:
%%time
#first, i'll run only patents with some kind of citation
#as we have many zero citations in the dataset, this should decrease processing time

back_citation=df.groupby(['citation_id']).count().iloc[:, 1].reset_index() #reset_index returns dataframe
forw_citation=df.groupby(['patent_id']).count().iloc[:, 1].reset_index()
# back_citation=df.groupby(['citation_id']).count()

CPU times: user 7.03 ms, sys: 1e+03 ns, total: 7.03 ms
Wall time: 6.66 ms

In [19]:
back_citation.rename(columns={'patent_id': 'back_citation'}, inplace=True) #index: 'citation_id'
forw_citation.rename(columns={'citation_id': 'forw_citation'}, inplace=True) #index: 'patent_id'

In [20]:
back_citation.head()

  citation_id  back_citation
0     1003232              1
1     2262271              1
2     3015601              1
3     3528551              1
4     3681483              1

In [21]:
forw_citation.head()

  patent_id  forw_citation
0   4360483              1
1   4771828              1
2   4884090              1
3   4971597              1
4   4990363              1

In [22]:
%%time
#this is the trick calculation
#I match the total of citations received by the citing patent (identified by patent_id)
#In the next step I sum all citations received by the citing patents

df=df.merge(back_citation, how='inner', left_on='patent_id', right_on='citation_id')
df.rename(columns={'back_citation': 'parent_back_citation'}, inplace=True)

CPU times: user 3.85 ms, sys: 0 ns, total: 3.85 ms
Wall time: 3.61 ms

In [23]:
df.fillna(0, inplace=True)

Empty DataFrame
Columns: [uuid, patent_id, citation_id_x, date, name, kind, country, category, sequence, citation_id_y, parent_back_citation]
Index: []

In [24]:
df.head()

Empty DataFrame
Columns: [uuid, patent_id, citation_id_x, date, name, kind, country, category, sequence, citation_id_y, parent_back_citation]
Index: []

In [25]:
outcome=df.groupby('citation_id_x').sum()

In [26]:
outcome.head()

Empty DataFrame
Columns: [sequence, parent_back_citation]
Index: []

In [ ]:
outcome.drop(['sequence'], axis=1, inplace=True)

In [27]:
# lastly, i merge the number of citations to patent_level_df
# patent_level has the information about the citing patent

outcome=outcome.merge(back_citation, how='outer', left_on='citation_id_x', right_on='citation_id')
outcome=outcome.merge(forw_citation, how='outer', left_on='citation_id_x', right_on='patent_id')

In [28]:
outcome.fillna(0, inplace=True)

In [29]:
outcome.head()

  citation_id  back_citation patent_id  forw_citation
0     1003232            1.0       NaN            NaN
1     2262271            1.0       NaN            NaN
2     3015601            1.0       NaN            NaN
3     3528551            1.0       NaN            NaN
4     3681483            1.0       NaN            NaN

In [30]:
outcome.drop(['patent_id'], axis=1, inplace=True)

In [31]:
# outcome=outcome.loc[:,['citation_id','back_citation','citation_id_y','parent_back_citation']].set_index('citation_id')

In [32]:
outcome.describe()

/home/applications/anaconda3/4.2.0/lib/python3.5/site-packages/numpy/lib/function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

       back_citation  forw_citation
count           57.0           57.0
mean             1.0            1.0
std              0.0            0.0
min              1.0            1.0
25%              NaN            NaN
50%              NaN            NaN
75%              NaN            NaN
max              1.0            1.0

In [33]:
outcome.head()

  citation_id  back_citation  forw_citation
0     1003232            1.0            NaN
1     2262271            1.0            NaN
2     3015601            1.0            NaN
3     3528551            1.0            NaN
4     3681483            1.0            NaN

In [34]:
%%time
outcome.to_csv(dst)

CPU times: user 2.22 ms, sys: 0 ns, total: 2.22 ms
Wall time: 22 ms