In [1]:
# February 11st, 2020
# Script to draw Originality and generality from different Classification systems

In [2]:
import pandas as pd
import numpy as np
# import itertools
# import seaborn as sns
# import networkx as nx
import csv
# from graphviz import Digraph
# import igraph
# import matplotlib.pyplot as plt
# import datetime


# import sys
# sys.path.append('/home/rkogeyam/scripts/')
# sys.path.append('scripts/')

# from determinants_scripts import classes, dtypes

In [3]:

file='data/eigen2.csv'
#df=pd.read_csv(file, chunksize=100, engine='c', lineterminator='\n')

df=pd.read_csv(file, chunksize=1000)


# usecols=['patent_id', 'citation_id']
# df_cit=pd.read_csv(file, usecols=usecols, index_col='patent_id', chunksize=1000)

# df_asg=pd.read_csv(asg, sep='\t', chunksize=10000)

# df_cit=pd.read_csv(cit, usecols=usecols, chunksize=10000)
# 
# df=pd.read_csv(src, dtype=dtypes, usecols=usecols, parse_dates=['date'], index_col='id', chunksize=10000)
# df = pd.read_csv(src, chunksize=1000, usecols=usecols, dtypes=dtypes, parse_dates=['date'])

# df = pd.read_csv(src, chunksize=1000,  parse_dates=['date'], error_bad_lines=False)
# df = pd.read_csv(src, usecols=usecols, names=names, chunksize=1000, dtype=dtype, index_col='id')
# df=pd.read_csv(src, usecols=[0, 1, 3], dtype={0:object}, index_col=0, chunksize=1000)

In [4]:
%matplotlib inline

In [5]:
df.get_chunk()

          id  eigen
0    5333265    0.0
1    5333264    0.0
2    5333267    0.0
3    5333266    0.0
4    5333261    0.0
5    5333260    0.0
6    5333263    0.0
7    5333262    0.0
8    8189827    0.0
9    5333269    0.0
10   5333268    0.0
11   8844361    0.0
12   2008919    0.0
13   7327622    0.0
14   2008915    0.0
15   2008914    0.0
16   2008911    0.0
17   7327623    0.0
18   8844364    0.0
19   3349170    0.0
20    287143    0.0
21   7447649    0.0
22   3784606    0.0
23   3784605    0.0
24   4630643    0.0
25   4134638    0.0
26   4134639    0.0
27   3209313    0.0
28   3784600    0.0
29   4134634    0.0
..       ...    ...
970  1032527    0.0
971  1795054    0.0
972  4022961    0.0
973  4439575    0.0
974  4308228    0.0
975  4308229    0.0
976  5094128    0.0
977  4308222    0.0
978  4308223    0.0
979  4308220    0.0
980  4308221    0.0
981  4308226    0.0
982  4308227    0.0
983  4308224    0.0
984  4308225    0.0
985  7351313    0.0
986  4140335    0.0
987  5466325    0.0
988  D464633    0.0
989  4022967    0.0
990  7351311    0.0
991  9113588    0.0
992  9113589    0.0
993  D464631    0.0
994  5094129    0.0
995  3453853    0.0
996  9113580    0.0
997  9113581    0.0
998  9113582    0.0
999  9113583    0.0

[1000 rows x 2 columns]